@import '_inner-banner.less';
.page-title{
    padding: 75px 0;
    @media @max-screen-1450{
        padding: 50px 0;
    }
    @media @max-screen-1199{
        padding: 40px 0;
    }
    @media @max-screen-767{
        padding: 30px 0;
    }
    p{
        color: rgba(0,0,0,0.5);
        a{
            &:hover{
                color: rgba(0,0,0,1);
            }
        }
    }
}

.padTB60{
    padding-bottom: 50px;
    padding-top: 50px;
    @media @max-screen-1450{
        padding-bottom: 40px;
        padding-top: 40px;
    }
}
.padTB40{
    padding-bottom: 30px;
    padding-top: 30px;
    @media @max-screen-1450{
        padding-bottom: 20px;
        padding-top: 20px;
    }
}