.inner-banner{
    color: rgba(0,0,0,0.8);
    figure{
        @media @max-screen-767{
            overflow: hidden;
        }
        img{

        }
    }
    .title {
        @media @max-screen-480{
            font-size: 18px;
            line-height: 22px;
        }
    }
    .caption{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: left;
    }
    .wrapper{
        max-width: 570px;
        @media @max-screen-1650{
            max-width: 525px;
        }
        @media @max-screen-1450{
            max-width: 465px;
        }
        @media @max-screen-1199{
            max-width: 435px;
        }
        @media @max-screen-980{
            padding: 0;
            max-width: 380px;
        }
        @media @max-screen-767{
            max-width: 50%;
        }
    }
    &.ta-l{
        .wrapper{
            margin-left: 40px;
            @media @max-screen-1450{
                margin-left: 20px;
            }
            @media @max-screen-1199{
                margin-left: 0;
            }
        }
    }
    &.ta-r{
        .wrapper{
            margin-right: 60px;
            @media @max-screen-1450{
                margin-right: 20px;
            }
        }
    }
}