.logo-box{
    width: 240px;
    height: 64px;
    @media @max-screen-1450{
        width: 180px;
        height: 48px;
    }
    @media @max-screen-1199{
        width: 160px;
        height: 43px;
    }
    @media @max-screen-767{
        width: 120px;
        height: 32px;
    }
    img{
        width: 240px;
        height: 64px;
        @media @max-screen-1450{
            width: 180px;
            height: 48px;
        }
        @media @max-screen-1199{
            width: 160px;
            height: 43px;
        }
        @media @max-screen-767{
            width: 120px;
            height: 32px;
        }
    }
}