.nav-cart{
    padding-right: 15px;
    @media @max-screen-767{
        padding-right: 5px;
    }
    &:hover{
        .minicart{
            opacity: 1;
            visibility: visible;
            .transition;
        }
    }
    &-count{
        background: @black;
        color: @white;
        border-radius: 50%;
        font-size: 12px;
        height: 20px;
        width: 20px;
        position: absolute;
        right: 0;
        top: -5px;
        @media @max-screen-767{
            font-size: 7px;
            height: 12px;
            width: 12px;
            top: 0px;
        }
    }
}

.minicart{
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 360px;
    background-color: @background;
    margin-right: 0;
    color: @black;
    opacity: 0;
    visibility: hidden;
    margin-top: -1px;
    @media @max-screen-767{
        width: 300px;
    }
    .minicart-inner{
        width: 100%;
        float: left;
        background: @white;
        padding: 15px;
        max-height: calc(100vh - 90px);
        overflow: auto;
    }
    .minicart-head{
        width: 100%;
        float: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        h3{
            margin-bottom: 15px;
        }
        .close-btn{
            float: right;
            position: relative;
            top: 5px;
            right: 0;
            display: none;
        }
    }

    .minicart-body{
        width: 100%;
        float: left;
        max-height: 290px;
        overflow: auto;
        margin-bottom: 20px;
    }

    .minicart-list{
        width: 100%;
        float: left;
        padding: 0 20px 15px 0 !important;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &:last-child{
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0 !important
        }
        &:before, &:after{
            display: none !important;
        }
        .variation{
            order: 4;
            width: 100%;
            padding: 0 !important;
            border: 0 !important;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 10px !important;
            dt, dd{
                width: 50%;
                margin: 0;
                padding: 0;
                font-size: 12px;
                text-transform: capitalize;
                .amount{
                    font-size: 12px;
                }
            }
            dd{
                text-align: right;
            }
        }
        .quantity{
            font-size: 12px;
            @media @max-screen-767{
                font-size: 10px;
            }
        }
        .remove{
            font-size: 32px;
            position: absolute;
            right: 0;
            top: 16px;
            height: auto;
            width: auto;
            line-height: inherit;
            border-radius: 0;
            color: #000!important;
            font-weight: 400;
            &:hover{
                color: #000 !important;
                background: transparent;
            }
            + a{
                display: flex;
                align-items: center;
                .ff-Montserrat-Medium;
                width: 200px;
                font-size: 14px;
                line-height: 18px;
                @media @max-screen-767{
                    width: 160px;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        img{
            width: 60px !important;
            padding: 0 !important;
            margin: 0 10px 0 0 !important;
        }
        & + .minicart-list{
            margin-top: 15px;
        }
    }

    .minicart-footer{
        width: 100%;
        float: left;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        padding-top: 20px;
        .total{
            .ff-Montserrat-Medium;
            font-size: 18px;
            text-align: right;
        }
    }

    .buttons{
        width: 100%;
        float: left;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .button {
            text-align: center;
            padding: 0 15px;
            width: calc(50% - 10px);
            font-size: 14px;
            line-height: 40px;
            background: @black;
            color: @white;
            border: 1px solid @black;
            .ff-Montserrat-Regular;
            &.checkout {
                background: @white;
                color: @black;
            }
            @media @max-screen-767{
                font-size: 12px;
            }
        }
    }

    ::-webkit-scrollbar {
        width:4px;
        height: 7px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
        box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);   
        background: rgba(0, 0, 0, 0.2);
        width:1px;
    }

    ::-webkit-scrollbar-thumb {    
        -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
        box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
        background: rgba(0, 0, 0, 0.5);
    }
}


