.compressed,
body:not(.home-page) {
    .header-page {
        // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    }
}

.compressed{
    .header-page {
        background: @background;
    }

}