.right-panel{
    .icon{
        padding-left: 15px;
        padding-bottom: 36px;
        @media @max-screen-1450{
            padding-bottom: 26px;
        }
        @media @max-screen-767{
            padding-bottom: 16px;
            padding-left: 5px;
        }
        &:first-child {
            margin-left: 0;
        }
        & > a{
            background: url("@{image-path}header-sprite.png") no-repeat 0 0;
            background-size: 96px 30px;
            height: 30px;
            width: 20px;
            @media @max-screen-767{
                background-size: 72px auto;
                width: 16px;
            }
        }
    }
    .account{
        & > a{
            background-position: 0 0;
            @media @max-screen-767{
                background-position: 0px 3px;
            }
        }
        &:hover{
            .profileNav{
                opacity: 1;
                visibility: visible;
                .transition;
            }
        }
    }
    .currency{
        & > a{
            background-position: -39px 0px;
            @media @max-screen-767{
                background-position: -19px 3px;
            }
        }
    }
    .nav-cart{
        & > a{
            background-position: -78px 0px;
            @media @max-screen-767{
                background-position: -58px 3px;
            }
        }
    }
    .profileNav{
        position: absolute;
        left: -30px;
        top: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0;
        background: @background;
        width: 165px;
        padding: 10px 0 0;
        font-size: 14px;
        opacity: 0;
        visibility: hidden;
        @media @max-screen-1450{
            width: 150px;
            font-size: 12px;
            left: -20px;
        }
        @media @max-screen-1199{
            width: 145px;
        }
        @media @max-screen-767{
            right: -75px;
            left: auto;
        }
        li{
            a{
                padding: 8px 15px;
                display: block;
                white-space: nowrap;
                @media @max-screen-1199{
                    padding: 5px 12px;
                }
                &:hover{
                    background: @black;
                    color: @white;
                }
            }
        }
    }
    .woo-multi-currency{
        border: 1px solid rgba(0, 0, 0, 0.2);
        background: @background;
        width: auto;
        padding: 0;
    }
}



/*
.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency{
    font-weight: 400;
    background: transparent !important;
    color: inherit !important;
    border: 0;
    padding: 7px;
    font-size: 18px;
    @media @max-screen-767{
        font-size: 12px;
    }
}

.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency, 
.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency {
    padding: 0;
    background: transparent !important;
}

.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency a {
    display: block;
}
.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper {
    padding: 5px 8px;
    @media @max-screen-767{
        padding: 3px 4px;
    }
}
.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency {
    background: @background;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 5px 9px;
    left: -1px;
    right: -1px;
    width: auto;

}

.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency a:hover, 
.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency.wmc-active a {
    font-weight: 400;
}

.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency{
    padding-right: 20px;
    @media @max-screen-767{
        padding-right: 15px;
    }
}
.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency::after{
    content: "";
    position: absolute;
    right: -5px;
    top: 2px;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url("@{image-path}baseline-expand_more-24px.png") no-repeat 0 0;
    display: block;
    background-size: 100% auto;
    @media @max-screen-767{
        width: 12px;
        height: 12px;
        right: 0;
        top: 3px;
    }
}


.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency, 
.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency {
    position: relative;
    padding: 2px;
}
.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency{
    padding: 4px 10px;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency {
    font-weight: 400;
    background: transparent !important;
    color: inherit !important;
    border: 0;
    font-size: 24px;
    width: 100%;
    @media @max-screen-767{
        font-size: 12px;
    }
}



.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency{
    padding-right: 25px;
    @media @max-screen-767{
        padding-right: 12px;
    }
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency::after{
    content: "";
    position: absolute;
    right: 0;
    top: 4px;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url("@{image-path}baseline-expand_more-24px.png") no-repeat 0 0;
    display: block;
    background-size: 100% auto;
    @media @max-screen-767{
        width: 12px;
        height: 12px;
        right: 0;
        top: 2px;
    }
}


.woocommerce-multi-currency.wmc-shortcode .wmc-currency {
    background: @white;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency {
    background: @white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 0;
    left: 0;
    right: 0;
    width: 50px;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency + .wmc-currency{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency a:hover, 
.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency.wmc-active a {
    font-weight: 400;
}*/


.header-navbar-right{
    .wmc-currency-wrapper {
        padding: 6px 5px;
    }
    .vi-flag-64{
        display: none;
    }    
    .woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-current-currency {
        padding: 0 10px 0 0!important;
    }
    .woocommerce-multi-currency.layout10 {
        .wmc-text {
            padding-left: 0;
            font-size: 18px;
            .ff-Montserrat-Medium;
            @media @max-screen-767{
                font-size: 15px;
            }
            @media @max-screen-480{
                .ff-Montserrat-Regular;
            }
        }
        .wmc-text-currency-text{
            font-size: 16px;
            text-transform: uppercase;
            padding-right: 5px;
            .ff-Montserrat-Regular;
            @media @max-screen-767{
                font-size: 12px;
                padding-right: 2px;
            }
            @media @max-screen-480{
                display: none;
            }
        }
    }
    .woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-current-currency .wmc-open-dropdown-currencies:after {
        width: 8px;
        right: 2px;
        height: 8px;
        top: 2px;
        @media @max-screen-767{
            width: 5px;
            height: 5px;
            top: 4px;
        }
    }
    .woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency span {
        padding: 0!important;
    }
    .woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency span + span{
        padding-left: 5px!important;
        .ff-Montserrat-Medium;
        font-size: 16px;
        @media @max-screen-767{
            font-size: 12px;
        }
    }
    .woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency {
        padding: 0 !important;
        margin-bottom: 5px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency a{
        padding: 10px !important;
        @media @max-screen-767{
            padding: 6px 8px !important;
        }
    }
}


.woocommerce-multi-currency.wmc-shortcode.plain-vertical.layout10 .wmc-currency-wrapper .wmc-sub-currency {
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: none;
    border-radius: 0;
    padding: 15px;
    text-transform: capitalize;
    left: auto;
    right: -10px;
    @media @max-screen-767{
        font-size: 12px;
        padding: 10px;
        right: -20px;
    }
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-sub-currency .wmc-currency:hover {
    background-color: transparent;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-sub-currency .wmc-currency:hover a{
    background-color: #000;
    color: #fff;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-current-currency .wmc-open-dropdown-currencies {
    padding-left: 2px;
}