.header-navbar{
    height: 100px;
    @media @max-screen-1450{
        height: 80px;
    }
    @media @max-screen-767{
        height: 60px;
    }
    &-right{
        right: 0;
        top: 35px;
        @media @max-screen-1450{
            top: 25px;
        }
        @media @max-screen-767{
            top: 15px;
            right: 0;
        }
    }
}
