.menu-main{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: @background;
    padding-top: 100px;
    opacity: 0;
    visibility: hidden;
    .transition;
    @media @max-screen-1450{
        padding-top: 80px;
    }
    &-nav{
        @media @max-screen-980{
            flex-direction: column;
        }
    }
    .menu-open &{
        opacity: 1;
        visibility: visible;
    }
    &-wrap{
        padding: 0 30px 50px;
        max-height: calc(100vh - 125px);
        overflow: auto;
        @media @max-screen-1450{
            padding: 0 25px 50px;
        }
        @media @max-screen-1199{
            padding: 0 20px 40px;
        }
        @media @max-screen-767{
            padding: 0 0 40px;
        }
    }
    .title{
        padding-bottom: 10px;
        @media @max-screen-1450{
            padding-bottom: 0;
        }
        .link{
            border-bottom: 3px solid transparent;
            padding: 5px 0;
            @media @max-screen-1450{
                border-bottom-width: 2px;
                padding: 3px 0;
            }
            @media @max-screen-980{
                padding: 0;
            }
            &:hover{
                border-bottom-color: currentColor;
            }
        }
    }
    .logo-box{
        margin-bottom: 60px;
        @media @max-screen-1450{
            margin-bottom: 40px;
        }
    }
    .col{
        flex-grow: 1;
        flex-basis: 0;
        letter-spacing: 0.2px;
        @media @max-screen-980{
            margin: 0 0 15px;
        }
    }
    .extra-links{
        margin: -15px 0 60px;
        @media @max-screen-1450{
            margin: -5px 0 40px;
        }
        @media @max-screen-980{
            margin: 0 0 40px;
        }
        .link{
            border-bottom: 1px solid transparent;
            &:hover{
                border-bottom-color: currentColor;
            }
        }
    }
    .social-icons{
        margin-top: 30px;
    }
    figure{
        max-width: 350px;
        @media @max-screen-1450{
            max-width: 280px;
        }
        @media @max-screen-1199{
            max-width: 225px;
        }
        @media @max-screen-980{
            display: none;
        }
        img{

        }
    }
}

.social-icons{
    font-size: 32px;
    @media @max-screen-1450{
        font-size: 28px;
    }
    @media @max-screen-1199{
        font-size: 24px;
    }
    li{
        margin-left: 35px;
        @media @max-screen-1450{
            margin-left: 30px;
        }
        @media @max-screen-1199{
            margin-left: 20px;
        }
        &:first-child{
            margin-left: 0;
        }
        a{
            border-bottom: 0;
            text-decoration: none;
            &:hover{
                opacity: 0.5;
            }
        }
    }
}