.header-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    will-change: transform, background;
    transition: transform 0.55s ease 0s, background 0.55s ease 0s;
    -webkit-transition: transform 0.55s ease 0s, background 0.55s ease 0s;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    padding: 0;
    background: @background;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    &.nav-up  {
        transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
    }
    &.no-gap{
        & ~ .main{
            // padding-top: 0;
        }
    }
}

.menu-open{
    .header-page {
        &.nav-up  {
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
        }
    }
}

.page-template-about-thaden, 
.page-template-a-new-legend, 
.page-template-customer-experience, 
.page-template-value-fashion, 
.tax-product_cat {
    .header-page{
        //  background: transparent;
    }
}
