/*! Flickity v2.2.0
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
    position: relative;
}
.flickity-enabled:focus {
    outline: none;
}
.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* draggable */

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
/* ---- flickity-button ---- */

.flickity-button {
    position: absolute;
    border: none;
    color: #fff;
}
html:not(.iphone):not(.ipad):not(.android) {
    .flickity-button:hover {
        background: none;
        cursor: pointer;
    }
}
.flickity-button:focus {
    outline: none;
}
.flickity-button:active {
    opacity: 1;
}
.flickity-button:disabled {
    opacity: 0.6;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
}
.flickity-button-icon {
    fill: currentColor;
}
/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
    top: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.4);
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
    padding: 0;
    color: @black;


}
.flickity-prev-next-button.previous {
    left: 20px;

    @media @max-screen-767{
        left: 15px;
    }
}
.flickity-prev-next-button.next {
    right: 20px;

    .flickity-button-icon{
        transform: translate(-50%, -50%) rotate(180deg);
    }

    @media @max-screen-767{
        right: 15px;
    }
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
}
.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
}
/* ---- page dots ---- */

.flickity-page-dots {
    position: absolute;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
    font-size: 8px;
    z-index: 9;
    bottom: 85px;
    right: 120px;
    @media @max-screen-1450{
        bottom: 60px;
        right: 100px;
    }
    @media @max-screen-1279{
        bottom: 60px;
        right: 60px;
    }
    @media @max-screen-1199{
        right: 40px;
        bottom: 60px;
    }
}
.flickity-rtl .flickity-page-dots {
    direction: rtl;
}
.flickity-page-dots .dot {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    margin: 0 11px;
    background: rgba(0,0,0,0);
    border-radius: 50%;
    border: 1px solid @black;
    cursor: pointer;
    .transition;
    @media @max-screen-1199{
        margin: 0 8px;
    }
}
.flickity-page-dots .dot.is-selected {
    background: rgba(0,0,0,1);
}


/* flickity-fade */

.flickity-enabled.is-fade .flickity-slider > * {
    pointer-events: none;
    z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
    pointer-events: auto;
    z-index: 1;
}
