/*======================================
  Selectric v1.13.0
======================================*/


.c-select {
    &.custom {
        border: 0;
        border-radius: 0;
        height: auto;
        &:after {
            display: none;
        }
    }
}
.selectric-wrapper {
    position: relative;
    cursor: pointer;
}
.selectric-responsive {
    width: 100%;
}
.selectric {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 8px;
    background: #fff;
}
.selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 40px 0 20px;
    font-size: 16px;
    line-height: 44px;
    color: rgba(0,0,0,1);
    height: 44px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectric .button {
    display: block;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #000;
    text-align: center;
    font-size: 0;
    border: 0;
    padding: 0;
    *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 6px;
    height: 12px;
    //border: 5px solid transparent;
    //border-top-color: #666;
    //border-bottom: none;
    background: url("@{image-path}arrow-back-black.svg") no-repeat 0 0;
    background-size: 100% auto;
    transform: rotate(-90deg);


}

.selectric-open {
    .selectric .button:after {
        transform: rotate(90deg);
    }
}
.selectric-focus .selectric {
    //border-color: red;
}
.selectric-hover .selectric {
    //border-color: #000;
}
.selectric-hover .selectric .button {
    color: #666;
}
.selectric-hover .selectric .button:after {
    border-top-color: #666;
}
.selectric-open {
    z-index: 9999;
}
.selectric-open .selectric {
    // border-color: rgba(0,0,0,0.9);
}
.selectric-open .selectric-items {
    display: block;
}
.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
}
.selectric-hide-select select {
    position: absolute;
    left: -100%;
}
.selectric-hide-select.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.selectric-hide-select.selectric-is-native select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    z-index: 1;
    box-sizing: border-box;
    opacity: 0;
}
.selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    background: none !important;
}
.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}
/* Items box */
.selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 0;
    z-index: -1;
    box-shadow: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;
}
.selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto;
}
.selectric-above .selectric-items {
    top: auto;
    bottom: 100%;
}
.selectric-items ul, .selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 20px;
}
.selectric-items li {
    display: block;
    padding: 12px 20px;
    cursor: pointer;
    color: rgba(0,0,0,1);
    font-size: 16px;
}
.selectric-items li.selected {
    background: @black;
    color: rgba(255,255,255,1) !important;
}
.selectric-items li.highlighted {
    background: @black;
    color: rgba(255,255,255,1) !important;
}
.selectric-items li:hover {
    background: @black;
    color: rgba(255,255,255,1) !important;
}
.selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
    font-weight: bold;
    padding-left: 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    color: #444;
}
.selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1;
}
.selectric-items .selectric-group li {
    padding-left: 25px;
}
