.back-page{
    font-size: 16px;
    line-height: 22px;
    padding: 15px 0;
    top: 100px !important;
    z-index: 1;
    width: auto;
    @media @max-screen-1450{
        top: 80px !important;
    }
    @media @max-screen-980{
        top: 0 !important;
        position: relative !important;
    }
    @media @max-screen-767{
        padding: 10px 0;
        font-size: 14px;
    }
}

.btn-back{
    background: url("@{image-path}arrow-back.svg") no-repeat -3px 50%;
    background-size: 16px auto;
    padding-left: 20px;
    border-bottom: 1px solid transparent;
    &:hover{
        border-bottom-color: currentColor;
    }
}

.product{
    &-detail{
        .product-box{
            padding-bottom: 50px;
            position: relative;
            @media @max-screen-980{
                padding-bottom: 0;
            }
            &:before{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: @background;
                height: 90px;
                z-index: 1;
                @media @max-screen-980{
                    display: none;
                }
            }
        }
        .faq-box{
            margin-bottom: 65px;
            @media @max-screen-1450{
                margin-bottom: 50px;
            }
            @media @max-screen-1199{
                margin-bottom: 40px;
            }
        }
        .faq-row{
            padding-bottom: 5px;
            margin-bottom: 10px;
            border-bottom: 0;
            padding-left: 0;
            padding-right: 45px;
            @media @max-screen-1199{
                padding-right: 0;
            }
            .title{
                &:before{
                    left: auto;
                    right: 6px;
                }
                &:after{
                    left: auto;
                    right: 0;
                }
            }
            .btn-more{
                margin-top: -10px;
            }
        }
        .faq-text{
            padding-top: 0;
            padding-bottom: 20px;
            p{
                color: rgba(0,0,0,0.6);
            }
        }
    }
    .sticky-box {
        display: flex;
        flex-direction: column;
    }
    &-info{
        @media @max-screen-1450{
            padding-top: 30px;
        }
        @media @max-screen-1199{
            width: 45%;
            padding-top: 0;
        }
        @media @max-screen-980{
            width: 100%;
            padding-left: 0;
            margin-bottom: 0;
        }
        .product-name{
            margin-bottom: 15px;
            @media @max-screen-1450{
                margin-bottom: 10px;
            }
            @media @max-screen-1199{
                margin-bottom: 5px;
            }
        }
        .product-text{
            max-width: 550px;
            margin-bottom: 75px;
            padding-top: 0;
            @media @max-screen-1450{
                max-width: 480px;
            }
            @media @max-screen-980{
                max-width: 100%;
                margin-bottom: 50px;
            }
        }
        .product-qty{
            margin-bottom: 30px;
            @media @max-screen-1450{
                margin-bottom: 25px;
            }
        }
        .product-price{
            margin-bottom: 20px;
            color: @black;
            @media @max-screen-980{
                margin-bottom: 15px;
            }
        }
        .yith-wcdp{
            color: rgba(0,0,0,0.6);
            margin-bottom: 25px;
            .deposit-price{
                color: rgba(0,0,0,1);
                .ff-Montserrat-Medium;
            }
        }
    }
    &-code{
        font-size: 18px;
        line-height: 22px;
        color: rgba(0,0,0,0.6);
        border-bottom: 2px solid rgba(0,0,0,0.2);
        padding-bottom: 25px;
        margin-bottom: 25px;
        @media @max-screen-1450{
            font-size: 16px;
        }
        @media @max-screen-1199{
            font-size: 14px;
            padding-bottom: 25px;
            margin-bottom: 20px;
        }
        @media @max-screen-767{
            font-size: 12px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
    &-description{
        font-size: 16px;
        line-height: 28px;
        color: rgba(0,0,0,0.6);
        margin-bottom: 30px;
        a{
            border-bottom: 1px solid currentColor;
            &:hover{
                border-bottom-color: transparent;
            }
        }
        @media @max-screen-1450{
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 25px;
        }
        @media @max-screen-767{
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }
    &-qty{
        font-size: 18px;
        line-height: 22px;
        color: rgba(0,0,0,0.6);
        label{
            padding-bottom: 10px;
        }
        .qty-box{
            input[type="number"], input[type="text"]{
                height: 32px;
                font-size: 16px;
                line-height: 28px;
                border: 1px solid rgba(0,0,0,0.2);
                width: 105px;
                text-align: center;
                .ff-Montserrat-SemiBold;
                color: @black;
                background: transparent;
                &:focus{
                    border-color: @black !important;
                }
                @media @max-screen-1450{
                    font-size: 14px;
                }
                @media @max-screen-767{
                    font-size: 12px;
                }
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            .btn-qty{
                position: absolute;
                height: 32px;
                width: 28px;
                top: 0;
                text-align: center;
                font-size: 20px;
                .ff-Montserrat-SemiBold;
                color: @black;
                cursor: pointer;
                font-size: 0;
                &:before, &:after{
                    content: "";
                    position: absolute;
                    background: @black;
                    border-radius: 5px;
                    .transition;
                    margin-left: 9px;
                }
                &:before{
                    height: 10px;
                    width: 2px;
                    left: 4px;
                    top: 11px;
                }
                &:after{
                    width: 10px;
                    height: 2px;
                    left: 0;
                    top: 15px;
                }
                &.minus{
                    left: 0;
                    &:before{
                        opacity: 0;
                        visibility: hidden;
                    }
                }
                &.plus{
                    right: 0;
                }
            }
        }
    }
    &-video-box{
        position: relative;
        margin-top: auto;
        margin-bottom: 40px;
        .video-tag{
            vertical-align: top;
        }
        /*       padding-bottom: 100%;
               .video-tag{
                   left: 0;
                   right: 0;
                   top: 0;
                   bottom: 0;
                   position: absolute;
               }*/
        .caption{
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            span {
                display: block;
            }
            svg{
                width: 64px;
                height: 64px;

            }
            .fa {
                font-size: 64px;
                margin-bottom: 10px;
            }
        }
    }
    &-slider-image{
        /*        padding-left: 150px;
                max-width: 731px;*/
        /*        max-height: 727px;
                height: 100%;*/
        @media @max-screen-1450{
            padding-right: 0;
        }
        @media @max-screen-1199{
            width: 55%;
        }
        @media @max-screen-980{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

        }
        .flickity-prev-next-button{
            border-radius: 0;
            background: transparent;
            .flickity-button-icon{
                width: 30%;
                height: 30%;
            }
        }
        .slick-arrow{
            font-size: 12px;
            padding: 5px;
            line-height: 1;
            max-width: none;
            width: auto;
            position: absolute;
        }
    }

}

.sticky-thumb{
    top: 155px !important;
    @media @max-screen-1450{
        top: 135px !important;
    }
    @media @max-screen-980{
        top: 0 !important;
        position: relative !important;
        order: 2;
    }
}

.sticky-box{
    top: 185px !important;
    @media @max-screen-1450{
        top: 165px !important;
    }
    @media @max-screen-1199{
        top: 135px !important;
    }
    @media @max-screen-980{
        top: 0 !important;
        position: relative !important;
    }
}
.woocommerce-notices-wrapper{
    display: none;
}
.product-carousel-main{
    margin-left: 120px;
    float: left;
    figure{
        img{
            width: 100%;
        }
    }
    .flickity-viewport {
        transition: height 0.2s;
    }
    @media @max-screen-1450{
        margin-left: 100px;
    }
    @media @max-screen-980{
        width: 100%;
        margin-left: 0;
    }
    .carousel-cell{
        width: 100%;
        margin-bottom: 40px;
    }
    .flickity-prev-next-button{
        display: none;
    }
    .flickity-page-dots{
        display: none;
    }
    @media @min-screen-981{
        .carousel-cell{
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative !important;
            left: 0 !important;
        }
        .flickity-slider{
            position: relative !important;
            width: auto !important;
            height:  auto !important;
            transform: none !important;
        }
        .flickity-viewport{
            overflow: visible;
            width: 100% !important;
            height:  auto !important;
        }
    }
}

.product-carousel-nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    transform: rotate(90deg) translate(0, -100%);
    transform-origin: left top;
    padding:0 60px;
    @media @max-screen-1450{
        width: 400px;
        padding: 0 50px;
    }
    @media @max-screen-980{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        transform: rotate(0deg) translate(0, 0);
        padding:0 100px;
    }
    @media @max-screen-767{
        padding: 0 50px;
        .flickity-prev-next-button {
            width: 40px;
            height: 40px;
        }
    }
    .flickity-button:disabled{
        display: none;
    }
    .carousel-cell {
        transform: rotate(-90deg);
        width: 80px;
        height: 80px;
        cursor: pointer;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        @media @max-screen-1450{
            width: 60px;
            height: 60px;
        }
        @media @max-screen-980{
            transform: rotate(0deg);
            margin: 0 15px;
        }
        @media @max-screen-767{
            /*            width: 40px;
                        height: 40px;*/
            margin: 0 10px;
        }
        figure{
            width: 80px;
            height: 80px;
            border: 1px solid #CBCBCB;
            display: flex;
            align-items: center;
            padding: 0;
            .transition;
            @media @max-screen-1450{
                width: 60px;
                height: 60px;
            }
            @media @max-screen-767{
                /*                width: 40px;
                                height: 40px;*/
            }
        }
        &.is-nav-selected {
            figure{
                border-color: #000;
            }
        }
    }

    .flickity-prev-next-button {
        &.previous{
            left: 0;
        }
        &.next{
            right: 0;
        }
    }
}

.woocommerce div.product.type-product {
    margin-bottom: 0;
    position: relative;
    float: left;
    width: 100%;
}

.also-like{
    padding: 100px 0 0;
    z-index: 2;
    @media @max-screen-1450{
        padding: 75px 0 0;
    }
    @media @max-screen-1199{
        padding: 50px 0 0;
    }
    @media @max-screen-980{
        .title.padL20 {
            padding-left: 0;
        }
    }
    .product-list-box{
        padding: 0;
    }
}

.woocommerce-notices-wrapper{
    float: left;
    width: 100%;
}


.woocommerce .quantity .qty{
    height: 32px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid rgba(0,0,0,0.2);
    width: 105px;
    text-align: center;
    .ff-Montserrat-SemiBold;
    color: @black;
    background: transparent;
    @media @max-screen-1450{
        font-size: 14px;
    }
    @media @max-screen-767{
        font-size: 12px;
    }
    &:focus{
        border-color: @black !important;
    }
}

.woocommerce-Price-currencySymbol{
    margin-right: 5px;
}

.woocommerce div.product form.cart .variations label {
    font-weight: 400; 
}

.woo-variation-swatches.wvs-show-label .variations td .woo-selected-variation-item-name, 
.woo-variation-swatches.wvs-show-label .variations td label {
    margin: 0;
}


.woocommerce div.product form.cart .variations td, 
.woocommerce div.product form.cart .variations th {
    border: 0;
    vertical-align: top;
    line-height: 22px;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
}

.woocommerce div.product form.cart .variations td.label {
    padding-right: 0;
    padding-bottom: 10px;
}

.woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item {
    border-radius: 0;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    background-color: #fff; 
    box-shadow: none;
    padding: 0;
    margin: 0px 15px 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).color-variable-item .variable-item-span-color:after {
    box-shadow: none;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, 
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
    box-shadow: none;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, 
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
    border-color: @black;
}

.woocommerce div.product form.cart {
    margin-bottom: 0;
}

.single-product{
    .fancybox-infobar, .fancybox-navigation .fancybox-button {
        opacity: 1; 
        visibility: visible; 
    }
}


.product-template-default{
    .woocommerce-notices-wrapper{
        display: none;
    }
}