.product{
    &-list{
        padding: 45px 0;
        @media @max-screen-1450{
            padding: 30px 0;
        }
        @media @max-screen-980{
            padding: 20px 0;
        }
        @media @max-screen-767{
            padding: 15px 0;
        }
        &-box{
            @media @max-screen-980{
                .jc-sb;
            }
        }
    }
    &-item{
        width: 50%;
        padding: 20px;
        margin-bottom: 40px;
        .transition;
        @media @max-screen-1450{
            padding: 15px;
            margin-bottom: 30px;
        }
        @media @max-screen-980{
            padding: 15px 0;
            width: calc(50% - 15px);
        }
        @media @max-screen-767{
            padding: 10px 0;
            width: calc(50% - 10px);
        }
        @media @max-screen-480{
            width: 100%;
        }
        .figure{
            background: rgba(0,0,0,0.02);
            padding-bottom: 100%;
            margin-bottom: 35px;
            @media @max-screen-1450{
                margin-bottom: 25px;
            }
        }
    }
    &-link{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0;
    }
    &-image{
        max-height: 100%;
        width: auto;
    }
    &-name{
        margin-bottom: 0;
        text-transform: capitalize;
    }
    &-price{
        color: rgba(0,0,0,0.8);
    }
}
.product-list-box{
    @media @min-screen-981 {
        &.grid-view-2{
            .product-item{
                width: 50%;
            }
        } 
        &.grid-view-3{
            .product-item{
                width: 33.3333%;
            }
        }
    } 
}

.woocommerce {
    .woocommerce-ordering{
        margin: 0;
    }
}

.woocommerce-ordering{
    .selectric {
        border: 0;
        border-radius: 0;
        background: transparent;
        min-width: 185px;
        @media @max-screen-1450{
            min-width: 165px;
        }
        @media @max-screen-767{
            min-width: 135px;
        }
        .label{
            font-size: 16px;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.6);
            margin: 0 35px 0 0;
            @media @max-screen-1450{
                font-size: 14px;
            }
            @media @max-screen-767{
                font-size: 12px;
                margin: 0 25px 0 0;
            }
        }   
        .button{
            background: url("@{image-path}sorting.svg") no-repeat 0 0 !important;
            width: 15px;
            height: 11px;
            top: 15px;
            right: 0;
            &:after{
                display: none;
            }
        }
    }
    .selectric-items li {
        padding: 8px 12px;
        font-size: 14px;
        @media @max-screen-767{
            font-size: 12px;
        }
    }
    select{
        border: 0;
        border-radius: 0;
        background: transparent;
        font-size: 16px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.6);
        width: 170px;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: ellipsis;
        &::-ms-expand {
            display: none;
        }
        @media @max-screen-1450{
            font-size: 14px;
        }
        @media @max-screen-767{
            font-size: 12px;
        }
    }
}


.woocommerce .products ul::after, 
.woocommerce .products ul::before, 
.woocommerce ul.products::after, 
.woocommerce ul.products::before{
    display: none;
}