.filter{
    &-box{
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding: 60px 0;
        font-size: 16px;
        line-height: 22px;
        @media @max-screen-1450{
            padding: 30px 0;
            font-size: 14px;
        }
        @media @max-screen-980{
            padding: 20px 0;
        }
        @media @max-screen-767{
            padding: 15px 0;
            font-size: 12px;
        }
        .filter-view{
            @media @max-screen-980{
                display: none;
            }
        }
    }
    &-grid{
        line-height: 16px;
        li{
            opacity: 0.3;
            margin: 0 10px; 
            position: relative;
            .transition;
            &:before{
                content: "";
                position: absolute;
                left: -10px;
                top: -2px;
                bottom: -2px;
                width: 1px;
                background: @gray2;
            }
            &:first-child{
                padding-left: 20px;
                &:before{
                    display: none;
                }
            }
            &.active{
                opacity: 1;
                pointer-events: none;
            }
        }
    }
    &-sort{
        color: rgba(0,0,0,0.6);
        &-icon{
            line-height: 12px;
            padding-left: 20px;
        }
    }
    &-category{
        color: rgba(0,0,0,0.6);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media @max-screen-980{
            position: relative;
            left: 0;
            top: 0;
            transform: translate(0, 0);
        }
        li{
            padding: 0 40px;
            border-left: 1px solid rgba(0,0,0,0.2);
            @media @max-screen-1199{
                padding: 0 25px;
            }
            @media @max-screen-767{
                padding: 0 12px;
            }
            &:first-child{
                border-left: 0;
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
            a{
                border-bottom: 1px solid rgba(0,0,0,0);
                &:hover{
                    color: rgba(0,0,0,1);
                    border-bottom-color: currentColor;
                }
            }
            &.active{
                a{
                    .ff-Montserrat-Medium;
                    color: @black;
                    border-bottom: 2px solid rgba(0,0,0,0.3);
                    padding-bottom: 5px;
                    @media @max-screen-767{
                        border-bottom-width: 1px;
                    }
                }
            }
        }
    }
}