.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button{
    border-radius: 0;
    border:1px solid @black;
    color: @white;
    background: @black;
    .ff-Montserrat-Regular;
    font-size: 16px;
    line-height: 45px;
    padding: 0 25px;
    max-width: 100%;
    width: auto;
    @media @max-screen-1450{
        font-size: 14px;
        line-height: 40px;
    }
    @media @max-screen-767{
        font-size: 12px;
        line-height: 35px;
        max-width: 100%;
        width: auto;
        padding: 0 20px;
    }
}

.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
    background-color: transparent;
    color: @black;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    table-layout: auto;
}

.woocommerce-form-coupon-toggle{
    float: left;
    width: 100%;
}

#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment {
    background: @background;
    border-radius: 0;
}

.woocommerce table.shop_table th{
    background: rgba(0,0,0,0.5); 
    color: @white;
    .ff-Montserrat-Medium;
}

.woocommerce #content table.cart td.actions .coupon, 
.woocommerce table.cart td.actions .coupon, 
.woocommerce-page #content table.cart td.actions .coupon, 
.woocommerce-page table.cart td.actions .coupon {
    display: flex;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    max-width: 100%;
    border:1px solid @black;
    color: @white;
    background: @black;
    .ff-Montserrat-Medium;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
    border:1px solid @black;
    color: @white;
    background: @black;
    .ff-Montserrat-Regular;
}

#add_payment_method table.cart td.actions .coupon .input-text, 
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    border: 1px solid #000;
    padding: 0 15px;
    margin: 0 4px 0 0;
    width: 175px;
}


/**
 * My Account
 */


.woocommerce-account{
    .page-inner{
        .inner-wrapper{
            max-width: 1200px;
        }
    }

    .woocommerce-MyAccount-navigation {
        padding-right: 5%;
        margin-bottom: 40px;
        ul {
            padding: 0;
            border-top: 1px solid #eee;
            li {
                list-style: none;
                border-bottom: 1px solid #eee;
                padding-bottom: 0;
                &.is-active a:before, &:hover a:before {
                    opacity: 1;
                }
                a{
                    padding: 10px 5px;
                    display: block;
                    &:before {
                        margin-right: 20px;
                        opacity: .25;
                    }
                }
            }
        }
    }
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
    font-family: 'FontAwesome';
    content: "\f0e4";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
    font-family: 'FontAwesome';
    content: "\f291";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
    font-family: 'FontAwesome';
    content: "\f1c6";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
    font-family: 'FontAwesome';
    content: "\f015";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
    font-family: 'FontAwesome';
    content: "\f09d";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
    font-family: 'FontAwesome';
    content: "\f007";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
    font-family: 'FontAwesome';
    content: "\f08b";
}

.woocommerce-account .woocommerce-MyAccount-content h2 {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

.woocommerce-account p.order-again {
    text-align: right;
}

.woocommerce-account .woocommerce-EditAccountForm input[type="submit"] {
    margin-top: 50px;
    float: right;
}


.woocommerce-info {
    border-top-color: @black2;
    &:before {
        color: @black2;
    }
}


.woocommerce-message {
    border-top-color: #000;
    &:before {
        color: @black;
    }
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    background-color: rgba(0,0,0,0.1);
    color: inherit;
}


.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register{
    border-radius: 0;
}


.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
    background-color: #000000;
}



.woocommerce #respond input#submit.alt.disabled, 
.woocommerce #respond input#submit.alt.disabled:hover, 
.woocommerce #respond input#submit.alt:disabled, 
.woocommerce #respond input#submit.alt:disabled:hover, 
.woocommerce #respond input#submit.alt:disabled[disabled], 
.woocommerce #respond input#submit.alt:disabled[disabled]:hover, 
.woocommerce a.button.alt.disabled, 
.woocommerce a.button.alt.disabled:hover, 
.woocommerce a.button.alt:disabled, 
.woocommerce a.button.alt:disabled:hover, 
.woocommerce a.button.alt:disabled[disabled], 
.woocommerce a.button.alt:disabled[disabled]:hover, 
.woocommerce button.button.alt.disabled, 
.woocommerce button.button.alt.disabled:hover, 
.woocommerce button.button.alt:disabled, 
.woocommerce button.button.alt:disabled:hover, 
.woocommerce button.button.alt:disabled[disabled], 
.woocommerce button.button.alt:disabled[disabled]:hover, 
.woocommerce input.button.alt.disabled, 
.woocommerce input.button.alt.disabled:hover, 
.woocommerce input.button.alt:disabled, 
.woocommerce input.button.alt:disabled:hover, 
.woocommerce input.button.alt:disabled[disabled], 
.woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    padding: 0 25px;
    @media @max-screen-1450{
        font-size: 14px;
        line-height: 40px;
    }
    @media @max-screen-767{
        font-size: 12px;
        line-height: 35px;
        max-width: 100%;
        width: auto;
        padding: 0 20px;
    }
}


.woocommerce #respond input#submit.disabled, 
.woocommerce #respond input#submit:disabled, 
.woocommerce #respond input#submit:disabled[disabled], 
.woocommerce a.button.disabled, 
.woocommerce a.button:disabled, 
.woocommerce a.button:disabled[disabled], 
.woocommerce button.button.disabled, 
.woocommerce button.button:disabled, 
.woocommerce button.button:disabled[disabled], 
.woocommerce input.button.disabled, 
.woocommerce input.button:disabled, 
.woocommerce input.button:disabled[disabled] {
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    padding: 0 25px;
    @media @max-screen-1450{
        font-size: 14px;
        line-height: 40px;
    }
    @media @max-screen-767{
        font-size: 12px;
        line-height: 35px;
        max-width: 100%;
        width: auto;
        padding: 0 20px;
    }
}
.woocommerce table.shop_table td small {
    line-height: 16px;
}

.woocommerce .woocommerce-error .button, 
.woocommerce .woocommerce-info .button, 
.woocommerce .woocommerce-message .button, 
.woocommerce-page .woocommerce-error .button, 
.woocommerce-page .woocommerce-info .button, 
.woocommerce-page .woocommerce-message .button {
    max-width: 100%;
    width: auto;
    padding: 0 15px;
}

.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order{
    max-width: 100%;
    width: auto;
    padding: 0 15px;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 125px;
}

.woocommerce #content table.cart td.actions .coupon, 
.woocommerce table.cart td.actions .coupon, 
.woocommerce-page #content table.cart td.actions .coupon, 
.woocommerce-page table.cart td.actions .coupon{
    display: none;
}

.woocommerce table.shop_table td.product-name{
    a{
        font-family: 'Montserrat-SemiBold', sans-serif;
        font-size: 16px;
        @media @max-screen-767{
            font-size: 14px;
        }
    }
    small{
        font-family: 'Montserrat-Regular', sans-serif;
    }
}

.woocommerce table.shop_table td {
    line-height: 20px;
    .variation{
        margin-top: 10px;
        .amount{
            .ff-Montserrat-Medium;
        }
    }
}

.woocommerce table.shop_table tbody th, 
.woocommerce table.shop_table tfoot td, 
.woocommerce table.shop_table tfoot th {
    font-weight: 500;
}

.woocommerce form .form-row.woocommerce-validated .select2-container, 
.woocommerce form .form-row.woocommerce-validated input.input-text, 
.woocommerce form .form-row.woocommerce-validated select {
    border-color: transparent;
    border-bottom-color: #6dc22e;
}


.woocommerce form .form-row.woocommerce-invalid .select2-container, 
.woocommerce form .form-row.woocommerce-invalid input.input-text, 
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: transparent;
    border-bottom-color: #a00;
}


#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    font-size: 16px;
    line-height: 45px;
    padding: 0 25px;
    @media @max-screen-1450{
        font-size: 14px;
        line-height: 40px;
    }
    @media @max-screen-767{
        font-size: 12px;
        line-height: 35px;
        max-width: 100%;
        width: auto;
        padding: 0 20px;
    }
}
#add_payment_method .cart-collaterals .cart_totals table small, 
.woocommerce-cart .cart-collaterals .cart_totals table small, 
.woocommerce-checkout .cart-collaterals .cart_totals table small {
    color: #fff;
    .ff-Montserrat-Regular;
}

.woocommerce-cart .woocommerce-cart-form table.shop_table th{
    background: @black;
}

.woocommerce table.shop_table_responsive tr td::before, 
.woocommerce-page table.shop_table_responsive tr td::before {
    .ff-Montserrat-Medium;
    color: #000;
    text-transform: uppercase;
}
@media screen and (max-width: 767px) {
    .woocommerce-page table.shop_table td.product-thumbnail:before {
        content: "IMAGE :";
    }

}

/* END Make the WooCommerce Cart Table Responsive  for Mobile */

.woocommerce #content table.cart .product-thumbnail, 
.woocommerce table.cart .product-thumbnail, 
.woocommerce-page #content table.cart .product-thumbnail, 
.woocommerce-page table.cart .product-thumbnail {
    display: block;
}
.woocommerce a.remove {
    color: black!important;
    font-weight: 500;
}

.woocommerce a.remove:hover {
    background: black;
}

.select2-container--default .select2-selection--single {
    background-color: rgba(247,248,248,1);;
    border: 1px solid transparent;
    border-radius: 0;
    height: 40px;
    border-bottom-color: #000;
}

.select2-dropdown {
    background-color: rgba(247,248,248,1);;
    border: 1px solid #000;
    border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], 
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #000;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #000;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000;
    line-height: 40px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    width: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
}

.woocommerce form .form-row .woocommerce-input-wrapper .description {
    background: #000;
    color: #fff;
    border-radius: 0;
}

.woocommerce form .form-row .woocommerce-input-wrapper .description::before {
    border-color: #000 transparent transparent transparent;
}

.woocommerce form .form-row {
    padding: 0;
    margin: 0 0 20px;
}

.woocommerce form .form-row label {
    line-height: 20px;
    margin-bottom: 5px;
}


.woocommerce-checkout{
    /****************CHECKOUT***************/
    .woocommerce form .form-row {
        width: 100% !important;
    }
    .woocommerce-checkout #payment div.payment_box input.input-text, .woocommerce-checkout #payment div.payment_box textarea {
        width: 100% !important;
    }
    .woocommerce #payment .form-row select, .woocommerce-page #payment .form-row select {
        width: 100%;
    }
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
        float: left;
        width: 100%;
        margin-bottom: 40px;
    }
    /*.custom-checkout h3 {
        background-color: #165f1c;  ***CHANGE TO COLOR YOU WANT TO USE FOR TITLE BACKGROUND ***
        width: 45%;
        text-align: center;
        padding: 10px;
        border-radius: 0;
        margin-top: 50px;
        color: #FFF;
        float: right;
    }*/
    .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
        outline: 0;
        -webkit-appearance: none;
        box-sizing: border-box;
        font-weight: 400;
    }

    #wc_checkout_add_ons {
        width: 45%;
        float: right;
        text-align: center;
    }

    @media screen and (min-width: 980px) {
        .woocommerce-shipping-fields h3, .woocommerce-billing-fields h3 {width:100%;}
        .woocommerce .col2-set, .woocommerce-page .col2-set {
            width: 45%;
            float: left;
        }
        .woocommerce-checkout-review-order{
            width: 45%;
            float: right;
            tbody, tfoot{
                font-size: 14px;
            }
        }
        #order_review_heading{
            width: 45%;
            float: right;
        }
    }
    @media screen and (max-width: 979px) {
        .custom-checkout h3 {
            width: 100%;
        }
    }

    /* Add Icons to Headers & Notifications */
    /*    .woocommerce-billing-fields h3:before, 
            h3#order_review_heading:before, 
            h3#phoen_order_review_heading:before {
            font-family: "Material Icons";
            font-size: 27px;
            content: '\E88F';
            color: #000;
            padding-right: 10px;
            vertical-align: bottom;
        }
    
        h3#order_review_heading:before { content: '\E8CC'; } */

}

#ship-to-different-address{
    .input-checkbox {
        display: inline;
        margin: -2px 8px 0 0;
        text-align: center;
        vertical-align: middle;
    }
}
.woocommerce table.woocommerce-checkout-review-order-table{
    thead th{
        background: #000;
    }
}

#payment:before {
    content: "Payment Methods";
    display: block;
    margin-top: 60px;
    font-size: 150%;
    .ff-Montserrat-Medium;
    margin-bottom: 10px;
}


.pum-theme-408 .pum-container, 
.pum-theme-lightbox .pum-container {
    box-shadow: none !important;
}

.woocommerce-privacy-policy-text{
    margin-bottom: 30px;
    p{
        font-size: 11px;
        line-height: 20px;
    }
}

.lost_reset_password{
    border: 1px solid #d3ced2;
    padding: 20px;
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
    clear: both;
    .form-row {
        width: 100% !important;
    }
}

.woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dt {
    .ff-Montserrat-Medium;
}


