.home{
    &-banner{
        .full-wrapper{
            @media @max-screen-980{
                padding: 0;
            }
        }
    }
    &-slider{
        color: rgba(0,0,0,0.6);
        .flickity-page-dots {
            @media @max-screen-980{
                right: 30px;
                bottom: 210px;
            }
            @media @max-screen-767{
                right: 15px;
                bottom: 185px;
            }
        }
    }
    &-slide{
        margin: 40px 0;
        @media @max-screen-1450{
            margin: 25px 0;
        }
        @media @max-screen-980{
            margin: 0;
        }
        .wrapper{
            max-width: 500px;
            @media @max-screen-1450{
                max-width: 425px;
            }
        }
        & .caption{
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            @media @max-screen-980{
                position: relative;
                padding:40px 40px 20px;
            }
            @media @max-screen-767{
                padding:25px 20px 25px;
            }
        }
        .title{
            letter-spacing: 0.4px;
            @media @max-screen-980{
                margin-bottom: 5px;
            }
        }
        .btn{
            margin-top: 15px;
            @media @max-screen-980{
                margin-top: 10px;
            }
        }
        &.ta-l{
            padding-right: 60px;
            padding-left: 275px;
            @media @max-screen-1450{
                padding-right: 40px;
                padding-left: 250px;
            }
            @media @max-screen-1199{
                padding-right: 0;
                padding-left: 225px;
            }
            @media @max-screen-980{
                padding-left: 0;
            }
            .wrapper{
                margin-left: 0;
                padding-left: 0;
            }
        }
        &.ta-r{
            padding-left: 60px;
            padding-right: 275px;
            @media @max-screen-1450{
                padding-left: 40px;
                padding-right: 250px;
            }
            @media @max-screen-1199{
                padding-left: 0;
                padding-right: 225px;
            }
            @media @max-screen-980{
                padding-right: 0;
            }
            .wrapper{
                margin-right: 0;
                text-align: left;
                padding-right: 0;
            }
        }
        figure{
            img{
                @media @max-screen-767{
                    // height: 420px;
                }
            }
        }
    }
    &-category{
        margin: 60px 0;
        @media @max-screen-1450{
            margin: 40px 0;
        }
        @media @max-screen-767{
            margin: 20px 0;
        }
        &-list{
            
        }
        &-item{
            width: calc(50% - 20px);
            @media @max-screen-980{
                width: calc(50% - 10px);
            }
            @media @max-screen-767{
                width: 100%;
                margin-bottom: 20px;
            }
            .figure{
                border: 1px solid @gray1;
            }
            .caption{
                bottom: 60px;
                right: 60px;
                @media @max-screen-1450{
                    bottom: 40px;
                    right: 40px;
                }
                @media @max-screen-1199{
                    bottom: 20px;
                    right: 20px;
                }
            }

            .link{
                border-bottom: 1px solid currentColor;
                padding: 5px 0;
                margin-top: 0;
                @media @max-screen-1199{
                    padding: 0;
                }
                @media @max-screen-980{
                    font-size: 15px;
                    line-height: 22px;
                }
                @media @max-screen-480{
                    font-size: 14px;
                    line-height: 20px;
                }
                &:hover{
                    border-bottom-color: transparent;
                }
            }
        }
    }
    &-grid{
        margin: 50px 0;
        @media @max-screen-1450{
            margin: 40px 0;
        }
        @media @max-screen-767{
            margin: 20px 0 0;
        }
        &-center{
            width: 100vw;
            display: inline-block;
            position: relative;
            right: auto;
            left: -50vw;
            padding: 50px 0;
            @media @max-screen-767{
                width: 100%;
                left: 0;
                padding: 20px;
            }
            .wrapper{
                @media @max-screen-980{
                    padding: 0;
                }
            }
        }
        &-text{
            p{
                color: rgba(49,52,52,0.6);
            }
            .btn{
                margin-top: 30px;
                @media @max-screen-1199{
                    margin-top: 25px;
                }
                @media @max-screen-980{
                    margin-top: 20px;
                }
                @media @max-screen-767{
                    margin-top: 10px;
                }
            }
        }
        .caption{
            float: right;
            @media @max-screen-767{
                width: 100%;
            }
            &-box{
                margin-right: 100px;
                max-width: 445px;
                margin-left: auto;
                @media @max-screen-1450{
                    margin-right: auto;
                    max-width: 390px;
                }
                @media @max-screen-1199{
                    max-width: 320px;
                }
                @media @max-screen-980{
                    max-width: 100%;
                    padding: 0 40px;
                }
                @media @max-screen-767{
                    padding: 0;
                }
                .tag {
                    margin-bottom: 10px;
                }
            }
        }
        &-item{
            &:nth-child(even){
                flex-direction: row-reverse;
            }
            .figure, .home-grid-text {
                @media @max-screen-767{
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    &-instagram{
        margin-bottom: 60px;
        @media @max-screen-1450{
            margin-bottom: 40px;
        }
        @media @max-screen-1450{
            margin-bottom: 0;
        }
        &-list{
            display: block;
            /*            &:after {
                            content: 'flickity';
                            display: none;
                        }
                        @media screen and ( min-width: 1900px ) {
                            &:after {
                                content: '';
                            }
                        }
                        @media @max-screen-980{
                            display: block;
                        }*/
        }
        &-item{
            width: calc(25% - 15px);
            @media @max-screen-1450{
                width: 33%;
                margin-right: 20px;
            }
            @media @max-screen-1199{
                width: 40%;
                margin-right: 20px;
            }
            @media @max-screen-980{
                width: 40%;
                margin-right: 20px;
            }
            @media @max-screen-767{
                width: 75%;
                margin-right: 15px;
            }
            .figure{
                padding-bottom: 100%;
                &:hover{
                    .caption{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .caption{
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0,0,0,0.7);
                opacity: 0;
                visibility: hidden;
                .transition;
                span{
                    display: block;
                }
            }
            .fa{
                font-size: 64px;
                margin-bottom: 10px;
            }
        }
    }
}

