.close-btn {
    position: absolute;
    right: 50px;
    top: 10px;
    height: 26px;
    width: 26px;
    z-index: 999;
    cursor: pointer;
    background: transparent;
    span {
        display: block;
        text-indent: -9999px;
        &:before,  &:after {
            &:extend(.transition);
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            background: rgba(0, 0, 0, 1);
            transform-origin: 50% 50%;
            right: 0;
            top: 12px;
        }
        &:before {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);

        }
        &:after {
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &.white {
        span {
            &:before,  &:after {
                background: @white;
            }
        }
    }
    &:hover{
       span{
            &:before,  &:after {
                background: @black;
            }
       }
    }
}


.close {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
    &:before,  &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: @black;
        width: 200%;
        left: -50%;
        .transition;
    }
    &:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

