.nav-toggle {
    padding: 5px 5px 5px 0;
    &:extend(.transition);
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 34px;
    z-index: 9;
    margin: 0;
    border: none;
    background: transparent;
    pointer-events: auto;
    @media @max-screen-1450{
        top: 24px;
    }
    @media @max-screen-767{
        top: 14px;
        left: 0;
    }
    &:before,  &:after {
        display: none;
    }
    &:before{
        content: "";
        position: fixed;
        height: 100vh;
        width: calc(125px + 40px);
        background: rgba(0,0,0,0.47);
        z-index: 9;
        right: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        display: block;
        &:extend(.transition);
        @media @max-screen-1450{
            width: calc(90px + 40px);
        }
        @media @max-screen-1199{
            width: calc(40px + 40px);
        }
        @media @max-screen-980{
            width: 0;
        }
    }
    span {
        position: relative;
        display: inline-block;
        width: 15px;
        height: 3px;
        background: @black;
        transition: background 0.3s 0.5s ease;
        -ms-transition: background 0.3s 0.5s ease;
        -webkit-transition: background 0.3s 0.5s ease;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        overflow: visible;
        margin: 9px 0;
        z-index: 9;
        vertical-align: top;

        &:before,  &:after {
            &:extend(.transition);
            content: '';
            position: absolute;
            display: inline-block;
            width: calc(100% + 5px);
            height: 3px;
            background: @black;
            left: 0;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
            -ms-transition: top 0.3s 0.6s ease, -ms-transform 0.3s ease;
            transition: top 0.3s 0.6s ease, transform 0.3s ease;
        }
        &:before {
            top: 6px;
        }
        &:after {
            top: -6px;
        }
    }
    &:hover {
        opacity: 1;
    }
    &:active {
        transition: 0s;
    }
    &.active, .nav-open & {
        background: transparent;

        &:before{
            opacity: 1;
            visibility: visible;
        }
        span {
            transition: background 0.3s 0s ease;
            -webkit-transition: background 0.3s 0s ease;
            -ms-transition: background 0.3s 0s ease;
            background: transparent !important;
            &:before,  &:after {
                -webkit-transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
                -ms-transition: top 0.3s ease, -ms-transform 0.3s 0.5s ease;
                transition: top 0.3s ease, transform 0.3s 0.5s ease;
                top: 0;
                background: @black;
                -webkit-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
            }
            &:before {
                -webkit-transform: rotate3d(0, 0, 1, 45deg);
                -ms-transform: rotate3d(0, 0, 1, 45deg);
                transform: rotate3d(0, 0, 1, 45deg);
            }
            &:after {
                -webkit-transform: rotate3d(0, 0, 1, -45deg);
                -ms-transform: rotate3d(0, 0, 1, -45deg);
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}