button, input[type='button'], input[type='submit'], input[type='reset'], .btn , .button{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 45px;
    padding: 0 25px;
    cursor: pointer;
    border-radius: 0;
    border:1px solid @black;
    width: 100%;
    max-width: 175px;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    color: @white;
    background: @black;
    &:extend(.transition);
    z-index: 1;
    .ff-Montserrat-Regular;
    letter-spacing: 0.2px;
    @media @max-screen-1450{
        font-size: 14px;
        line-height: 40px;
        max-width: 160px;
    }
    @media @max-screen-767{
        font-size: 12px;
        line-height: 35px;
        max-width: 100%;
        width: auto;
        padding: 0 20px;
    }
    span {
        display: block;
        position: relative;
    }
    &.btn-invert, &.gform_button.button{
        color: @black;
        background: @white;
    }
    &.btn-transparent{
        color: @black;
        background: transparent;
    }
    &.btn-lg{
        padding: 0 50px;
    }
    &.disabled{
        pointer-events: none;
        opacity: 0.5;
    }
    &::-moz-focus-inner {
        border: 0 none;
    }
}

html:not(.iphone):not(.ipad):not(.android) {
    button,  input[type='button'],  input[type='submit'],  .btn, .button {
        &:hover {
            background: transparent;
            color: @black;
            &.btn-invert, &.gform_button.button{
                color: @white;
                background: @black;
            }
            &.btn-transparent{
                color: @white;
                background: @black;
            }
        }
    }
}
