/* Checkboxes
   ========================================================================== */
/* custom checkbox */
.c-checkbox {
    margin: 5px 0;
    position: relative;

    &>label,  &>.label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding:0px 0px 0px 25px;
        margin: 0 0 0 0;
        font-size: 14px;
        line-height: 20px;
        color: @black;
        //width: 100%;
        //background: rgba(0,0,0,0);
       // border-radius: 4px;
        &:extend(.transition);
        &:before {
            content: "";
            position: absolute;
            &:extend(.transition);
            display: inline-block;
            width: 18px;
            height: 18px;
            background: transparent;
            top: 1px;
            left: 0;
            border: 1px solid #616161;
            border-radius: 3px;
        }
    }
    input[type='checkbox'] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        //visibility: hidden;
        //pointer-events: none;

        &~label,  &~.label {
            &:after {
               // content: '✔';
                .fas;
                content: "\2713";
                display: block;
                position: absolute;
                font-weight: 600;
                color: #fff;
                background: @black;   
                font-size: 12px;
                text-align: center;
                line-height: 20px;
                width: 18px;
                height: 18px;
                top: 1px;
                left: 0;
                border-radius: 2px;
                transform-origin: 50% 50%;
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform: scale(0);
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                -webkit-transition: all 0.15s ease;
                -ms-transition: all 0.15s ease;
                transition: all 0.15s ease;
                opacity: 0;
                visibility: hidden;
            }
        }
        &:checked {
            &~label,  &~.label {
                //background: rgba(0,0,0,0.05);
                &:after {
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &:focus{
            &~label,  &~.label{
                &:before{
                    box-shadow: 0 0 0 1px @black;
                }
                &:after{
                    box-shadow: 0 0 0 1px @black;
                }
            }
        }
    }
}