/* Inputs */
input[type='text'], 
input[type='password'], 
input[type='url'], 
input[type='tel'], 
input[type='search'], 
input[type='number'], 
input[type='datetime'], 
input[type='email'],
textarea,
.input-text {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 45px;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0);
    border-bottom-color: @black;
    border-radius: 0;
    padding: 0;
    width: 100%;
    letter-spacing: 0;
    color: rgba(0,0,0,1);
    background: transparent;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    .ff-Montserrat-Regular;
    &.error{
        border-color: red;
        &:focus {
            border-color: red;
        }
    }
    @media @max-screen-1450{
        font-size: 14px;
        height: 40px;
    }
    @media @max-screen-767{
        font-size: 12px;
        height: 35px;
    }
    &::-webkit-input-placeholder {
        color: rgba(0,0,0,0.6);
        opacity: 1 !important;
    }
    &::-moz-placeholder {
        color: rgba(0,0,0,0.6);
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: rgba(0,0,0,0.6);
        opacity: 1;
    }
    &:-moz-placeholder {
        color: rgba(0,0,0,0.6);
        opacity: 1;
    }
    &::-ms-clear {
        display: none;
    }
    &:focus {
        border-bottom-color: rgba(0,0,0,1) !important;
    }
}
input[type='number'] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, select:focus, textarea:focus, ._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
    box-shadow: none;
}
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 12px 0;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0,0,0,1);
    width: 100%;
    margin: 0;
    background: transparent;
    letter-spacing: 0;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    resize: none;
    overflow: auto;
    height: 110px;
    vertical-align: top;
    @media @max-screen-1450{
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    @media @max-screen-767{
        font-size: 12px;
        line-height: 20px;
    }
    &::-webkit-input-placeholder {
        color: rgba(0,0,0,0.6);
        opacity: 1 !important;
    }
    &::-moz-placeholder {
        color: rgba(0,0,0,0.6);
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: rgba(0,0,0,0.6);
        opacity: 1;
    }
    &:-moz-placeholder {
        color: rgba(0,0,0,0.6);
        opacity: 1;
    }
    &::-ms-clear {
        display: none;
    }
    &:focus {
        border-bottom-color:  rgba(0,0,0,1);
    }
}