label, .label {
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    @media @max-screen-1450{
        font-size: 14px;
        margin-bottom: 5px;
    }
    @media @max-screen-767{
        font-size: 12px;
        line-height: 20px;
    }
    &.required {
        &:after {
            content: '*';
            color: red;
            font-size: 12px;
            margin: 0 0 0 5px;
            line-height: 1;
            top: 5px;
            left: 8px;
            position: relative;
        }
    }
}