a, .alink {
    color: inherit;
    text-decoration: none;
    &:extend(.transition);
    &:visited, &:hover, &:active, &:focus {
        text-decoration: none;
        outline: 0 none;
    }
    &.c-white {
        color: @white;
    }
    
}