.circle-list{
    li{
        position: relative;
        padding-left: 20px;
        margin-bottom: 15px;
        /*        &:last-child{
                    margin-bottom: 0;
                }*/
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 8px;
            height: 6px;
            width: 6px;
            background: @black;
            border-radius: 50%;
            @media @max-screen-767{
                top: 5px;
                height: 5px;
                width: 5px;
            }
        }
        &.heading{
            padding-left: 0;
            &:before{
                display: none;
            }
        }
    }
    &.col-3{
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 40px; 
        -moz-column-gap: 40px; 
        column-gap: 40px;
        & > * {
            -webkit-column-break-inside: avoid;
            column-break-inside: avoid;
        }
    }
    &.col-2{
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 100px; 
        -moz-column-gap: 100px; 
        column-gap: 100px;
        & > * {
            -webkit-column-break-inside: avoid;
            column-break-inside: avoid;
        }
    }
}
