/* Radio Buttons
   ========================================================================== */
/* Custom Radio */

.c-radio, .gfield_radio {
    label {
        display: inline-block !important;
        cursor: pointer;
        position: relative;
        padding: 0 0 0 35px;
        font-size: 18px;
        line-height: 28px;
        vertical-align: top;
        color: rgba(0, 0, 0, 0.7);
        margin: 0;
        &:before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 10px;
            position: absolute;
            left: 0;
            top: 1px;
            background: @white;
            border: 1px solid rgba(0,0,0,0.4);
        }
    }
    input[type='radio'] {
        display: none;
        &~label:after {
            content: '';
            display: inline-block;
            font-size: 30px;
            text-align: center;
            line-height: 18px;
            height: 25px;
            width: 25px;
            background: @black;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
            -webkit-transition: all 0.25s ease;
            -ms-transition: all 0.25s ease;
            transition: all 0.25s ease;
            transform-origin: 50% 50%;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform: scale(0);
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            opacity: 0;
            visibility: hidden;
        }
        &:checked {
            &~label {
                &:after {
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}