select {
    height: 40px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0,0,0,1);
    background-color: none;
    width: 100%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    &:focus {
        border-color: rgba(0,0,0,1) !important;
    }
}
select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 #9b9b9d !important;
}
/* Custom Select*/

.c-select {
    position: relative;
    width: 100%;
    height:40px;
    background: none;
    border-radius: 0;
    -webkit-appearance: none;
    z-index: 9;
    &:after {
        content: "\e5c5";
        position: absolute;
        font-family:"Material Design Icons";
        right: 0;
        top: 50%;
        margin-top:-12px;
        width: 40px;
        height: 0;
        z-index: -1;
        text-align: center;
        font-size: 24px;
        color: #000;
    }
    &.active{
        &:after {
            transform: rotate(90deg) scaleX(-1);
        }
    }
    select {
        width: 100%;
        //height: 100%;
        appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        background: none;
        margin: 0;
        padding: 0 35px 0 15px;
        font-size: 14px;
        cursor: pointer;
        option {
            padding: 10px 12px;
            color: rgba(0,0,0,1);
            -moz-appearance: none;
            -ms-appearance: none;
            -webkit-appearance: none;
            .transition;
            &:hover {
                color: rgba(0,0,0,1);
            }
            &:checked {
                background-color: -moz-html-cellhighlight !important;
                color: -moz-html-cellhighlighttext !important;
                color: rgba(0,0,0,1);
            }
        }
    }
}
.c-select select::-ms-expand {
    display: none;
}
select::-ms-expand {
    display: none;
}