.col-2{
    &-swap{
        .wrapper{
            @media @max-screen-980{
                padding: 0;
            }
        }
    }
    &-item{
        padding: 60px 0;
        @media @max-screen-1450{
            padding: 40px 0;
        }
        @media @max-screen-980{
            padding: 25px 0;
        }
        @media @max-screen-767{
            padding: 0 0 40px;
        }
        &:nth-child(odd){
            flex-direction: row-reverse;
            .caption{
                .wrapper{
                    margin-left: 0;
                }
            }
        }
        .figure{
            @media @max-screen-980{
                width: 100%;
                margin-bottom: 30px;
            }
            @media @max-screen-767{
                margin-bottom: 20px;
            }
        }
        .caption{
            @media @max-screen-980{
                width: 100%;
                margin-bottom: 20px;
            }
            .wrapper{
                max-width: 600px;
                margin-right: 0;
                @media @max-screen-1450{
                    max-width: 480px;
                    padding: 0;
                }
                @media @max-screen-1279{
                    max-width: 420px;
                }
                @media @max-screen-1199{
                    max-width: 375px;
                }
                @media @max-screen-980{
                    max-width: 100%;
                }
            }
        }
    }
}

.about-pages.padT60{
    @media @max-screen-1450{
        padding-top: 40px;
    }
}