.content {
    &-grid{
        p, .circle-list li{
            a:not(.btn):not(.button){
                border-bottom: 1px solid currentColor;
                &:hover{
                    border-bottom-color: transparent;
                }
            }
        }
        .wrapper{
            @media @max-screen-767{
                padding: 0;
            }
        }
        .col{
            & + .col{
                padding-right: 50px;
                @media @max-screen-1450{
                    padding-right: 30px;
                }
                @media @max-screen-1199{
                    padding-right: 0;
                }
            }
            .padB35{
                display: none;
                @media @max-screen-1650{
                    padding-bottom: 30px;
                }
                @media @max-screen-1450{
                    padding-bottom: 25px;
                }
                @media @max-screen-767{
                    padding-bottom: 15px;
                }
            }
        }
        .w25{
            @media @max-screen-1199{
                width: 30%;
            }
            @media @max-screen-767{
                width: 100%;
                padding-bottom: 40px;
            }
        }
        .w70{
            @media @max-screen-1199{
                width: 60%;
            }
            @media @max-screen-767{
                width: 100%;
            }
        }
    }
    &-links{
        li{
            color: rgba(0,0,0,0.6);
            margin-bottom: 30px;
            @media @max-screen-1450{
                margin-bottom: 25px;
            }
            @media @max-screen-767{
                margin-bottom: 15px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            &.active, &:hover{
                a{
                    color: rgba(0,0,0,1);
                }
            }
        }
    }
}

.page-inner{
    p{
        a:not(.btn):not(.button){
            border-bottom: 1px solid currentColor;
            &:hover{
                border-bottom-color: transparent;
            }
        }
    }
}