.contact{
    &-box{
        padding-bottom: 80px;
        @media @max-screen-1450{
            padding-bottom: 60px;
        }
        @media @max-screen-767{
            padding-bottom: 40px;
        }
        .wrapper {
            max-width: 1200px;
            @media @max-screen-1450{
                max-width: 1020px;
            }
            @media @max-screen-1199{
                max-width: 800px;
            }
        }
        a{
            border-bottom: 1px solid currentColor;
            &:hover{
                border-bottom-color: transparent;
            }
        }
        .box{

        }
        .col{
            @media @max-screen-767{
                width: 100%;
                text-align: left;
                .marB60{
                    margin-bottom: 40px;
                }
            }
            & + .col{
                border-left: 1px solid rgba(0,0,0,0.2);
                @media @max-screen-767{
                    border-left:none;
                }

            }
        }
        .title{
            &-icon{
                max-width: 350px;
                color: rgba(0,0,0,0.6);
            }   
        }
    }
}