.customer-grid{
    &-3{
        @media @max-screen-767{
            flex-wrap: wrap;
            &.padTB60{
                padding-bottom: 20px;
                padding-top: 20px;
            }
        }
        .figure{
            width: calc(33.3333% - 30px);
            padding-bottom: 36.5%;
            @media @max-screen-1450{
                width: calc(33.3333% - 20px);
            }
            @media @max-screen-767{
                width: 100%;
                margin-bottom: 20px;
                padding-bottom: 66.5%;

            }
        }
    }
    .col{
        .wrapper{
            max-width: 770px;
        }
    }
}

.customer-grid{
    .col {
        @media @max-screen-767{
            width: 100%;
            .wrapper{
                padding: 40px 0 20px;
            }
        }
    }
}