.faq{
    &-box{

    }
    &-row{
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding-bottom: 15px;
        margin-bottom: 35px;
        padding-left: 45px;
        @media @max-screen-1450{
            padding-bottom: 5px;
            margin-bottom: 25px;
        }
        .title{
            cursor: pointer;
            line-height: 30px;
            @media @max-screen-1450{
                line-height: 28px;
            }
            @media @max-screen-767{
                font-size: 14px;
                line-height: 24px;
            }
            &:before, &:after{
                content: "";
                position: absolute;
                background: @black;
                border-radius: 5px;
                margin-left: -45px;
                .transition;
                @media @max-screen-1450{
                    margin-top: -3px;
                }
            }
            &:before{
                height: 15px;
                width: 3px;
                left: 6px;
                top: 10px;
            }
            &:after{
                width: 15px;
                height: 3px;
                left: 0;
                top: 16px;
            }
            &.active{
                &:before{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
    &-text{
        display: none;
        padding-top: 5px;
        padding-bottom: 50px;
        a{
            border-bottom: 1px solid currentColor;
            &:hover{
                border-bottom-color: transparent;
            }
        }
        @media @max-screen-1450{
            padding-bottom: 40px;
        }
    }
}