.thaden-grid{
    flex-wrap: wrap;
    .figure{
        float: left;
        &:nth-child(1) {
            width: 50%;
            padding-bottom: 50%;
            @media @max-screen-980{
                padding-bottom: 70%;
                margin-bottom: 20px;
            }
        }
        &:nth-child(2){
            width: calc(25% - 30px);
            margin-left: 30px;
            padding-bottom: calc(28% - 30px);
            margin-bottom: 30px;
            @media @max-screen-980{
                width: calc(50% - 20px);
                margin-left: 20px;
                margin-bottom: 20px;
                padding-bottom: 70%;
            }
        }
        &:nth-child(3){
            float: right;
            width: calc(25% - 30px);
            margin-left: 30px;
            padding-bottom: calc(17% - 30px);
            margin-bottom: 30px;
            @media @max-screen-980{
                width: calc(33% - 20px);
                margin-left: 20px;
                margin-bottom: 20px;
                padding-bottom: 50%;
            }
        }
        &:nth-child(4){
            float: right;
            width: calc(25% - 30px);
            margin-left: 30px;  
            padding-bottom: 33%;
            @media @max-screen-980{
                padding-bottom: 50%;
                width: calc(36% - 20px);
                margin-left: 20px;  
            }
        }
        &:nth-child(5){
            width: calc(25% - 30px);
            margin-left: 30px;
            padding-bottom: 22%;
            @media @max-screen-980{
                //width: calc(33% - 20px);
                width: 31%;
                margin-left: 0;
                margin-bottom: 0;
                padding-bottom: 50%;
            }
        }
    }
}