.newsletter{
    width: 100%;
    max-width: 375px;
    @media @max-screen-1450{
        max-width: 325px;
    }
    @media @max-screen-1199{
        max-width: 300px;
    }
    @media @max-screen-980{
        max-width: 100%;
    }
    &-box{
        margin-bottom: 40px;
        @media @max-screen-1199{
            margin-bottom: 30px;
        }
        .title{
            margin-bottom: 10px;
        }
        .input{
            margin: 5px 0 40px;
            position: relative;
        }
        .btn, .button{
            max-width: 160px;
            @media @max-screen-1199{
                max-width: 140px;
            }
            @media @max-screen-767{
                max-width: 120px;
            }
        }
    }
    &-popup{
        width: 100%;
        max-width: 970px;
        padding: 0 !important;
/*        @media @max-screen-1279{
            max-width: 570px;
        }*/
        .figure {
            max-width: 451px;
            @media @max-screen-1279{
                max-width: 100%;
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        .wrapper{
            padding: 0;
        }
        .newsletter {
            margin-right: 90px;
            @media @max-screen-1450{
                margin-right: 60px;
            }
            @media @max-screen-1279{
                max-width: 100%;
                padding: 40px;
                margin-right: 0;
            }
            @media @max-screen-767{
                padding: 20px;
            }
            &-box {
                margin-bottom: 0;
            }
        }
        .gform-body{
            margin: 0 0 45px;
            .gfield {
                margin: 0 0 20px;
                position: relative;
            }
        }
    }

    h2.gform_submission_error.hide_summary{
        display: none;
    }
    .validation_message{
        position: absolute;
        left: 0;
        top: 100%;
        font-size: 11px;
        color: red;
        line-height: 15px;
        margin-top: 3px;
    }
    .gform_confirmation_message{
        color: green;
    }
    .gform_footer{
        position: relative;
    }
    .gform_ajax_spinner{
        position: absolute;
        left: 180px;
        top: 14px;
        @media @max-screen-1199{
            left: 160px;
            top: 12px;
        }
        @media @max-screen-767{
            left: 140px;
            top: 10px;
        }
    }
}

.fancybox-close-small {
    color: #000 !important;
    text-transform: uppercase;
    background: transparent !important;
    display: flex;
    line-height: 0;
    padding: 15px 15px 0 0 !important;
    font-size: 0;
    svg {
        width: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: top;
        top: 0;
        position: relative;
    }
}
