.footer{
    &-page{
        float: left;
        width: 100%;
        position: relative;
        .wrapper{
            max-width: 1390px;
        }
    }
    &-top{
        padding: 80px 0 50px;
        @media @max-screen-1199{
            padding: 60px 0 50px;
        }
        @media @max-screen-980{
            padding: 50px 0;
        }
        @media @max-screen-767{
            padding: 30px 0;
        }
        .jc-sb{
            @media @max-screen-980{
                flex-direction: column;
            }
        }
    }
    &-bottom{
        padding: 20px 0;
        font-size: 14px;
        border-top: 1px solid rgba(0,0,0,0.2); 
        color: rgba(0,0,0,0.7);
        @media @max-screen-1199{
            padding: 15px 0;
            font-size: 12px;    
        }
        @media @max-screen-767{
            padding: 10px 0;
            font-size: 10px;
        }
    }
    &-logo{
        width: 100px;
        display: flex;
        @media @max-screen-1450{
            width: 80px;
        }
        @media @max-screen-980{
            width: 60px;
            margin: 0 auto 30px;
        }
    }
    &-menu{
        .title{
            border-bottom: 2px solid currentColor;
            display: inline-block;
            padding-bottom: 5px;
        }
    }
    &-links{
        font-size: 16px;
        line-height: 28px;
        color: rgba(0,0,0,0.7);
        @media @max-screen-1450{
            font-size: 14px;
            line-height: 24px;
        }
        @media @max-screen-980{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
        @media @max-screen-767{
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 25px;
        }
        li{
            margin-bottom: 10px;
            @media @max-screen-980{
                width: 50%;
            }
            &:last-child{
                margin-bottom: 0;
            }
            a{
                border-bottom: 1px solid transparent;
                &:hover{
                    color: @black;
                    border-bottom-color: currentColor;
                }
            }
            &.active, &.current-menu-item{
                /*                color: @black;
                                .ff-Montserrat-SemiBold;
                                a{
                                    border-bottom: 2px solid currentColor;
                                    padding-bottom: 5px;
                                }*/
            }
        }
    }
}
