@import '_variables.less';
@import '_classes.less';
/* Animation */
.to-load.already-visible, .no-js .to-load, .touch .to-load, .no-cssanimations .to-load {
    opacity: 1;
}

.to-load {
    opacity: 0;
       
    &.loaded {
        -webkit-transform: translateY(80px);
        -ms-transform: translateY(80px);
        transform: translateY(80px);
        -webkit-animation: moveUp 1s ease forwards;
        -ms-animation: moveUp 1s ease forwards;
        animation: moveUp 1s ease forwards;
    }
    &.delay-1 {
        &.loaded {
            -webkit-animation-delay: 0.1s;
            -ms-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }
    }
    &.delay-2 {
        &.loaded {
            -webkit-animation-delay: 0.2s;
            -ms-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }
    }
    &.delay-3 {
        &.loaded {
            -webkit-animation-delay: 0.3s;
            -ms-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }
    }
    &.delay-4 {
        &.loaded {
            -webkit-animation-delay: 0.4s;
            -ms-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }
    }
}
.IE9 .to-load {
    opacity: 1;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}
.delay-1 {
    -webkit-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.delay-2 {
    -webkit-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.touch {
    .to-load {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation: none;
        -ms-animation: none;
        animation: none;
        opacity: 1;
        .delay-1,  .delay-2 {
            -webkit-transition-delay: 0;
            -ms-transition-delay: 0;
            transition-delay: 0;
        }
    }
}
@-webkit-keyframes moveUp {
    0% {
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes moveUp {
    0% {
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width :767px) {
    .to-load {
        opacity: 1;
        &.loaded {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
    }
    .delay-1,  .delay-2 {
        -webkit-transition-delay: 0.0s;
        -ms-transition-delay: 0.0s;
        transition-delay: 0.0s;
    }
}
