.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}
/* Positions */

.pos-r {
    position: relative;
}
.pos-s {
    position: static;
}
.pos-a {
    position: absolute;
}
.pos-f {
    position: fixed;
}
.t-0{
    top: 0;
}
.r-0 {
    right: 0;
}
.b-0 {
    bottom: 0;
}
.l-0 {
    left: 0;
}
.t-a {
    top: auto;
}
.r-a {
    right: auto;
}
.b-a {
    bottom: auto;
}
.l-a {
    left: auto;
}
.z-a {
    z-index: auto;
}
/* Visual Formatting */

.fl-n {
    float: none;
}
.fl-l {
    float: left;
}
.fl-r {
    float: right;
}
.fl-fix {
    float: left;
    width: 100%;
}
.cl-n {
    clear: none;
}
.cl-l {
    clear: left;
}
.cl-r {
    clear: right;
}
.cl-b {
    clear: both;
}
.d-n {
    display: none;
}
.d-b {
    display: block;
}
.d-i {
    display: inline;
}
.d-ib {
    display: inline-block;
}
.d-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.d-if {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.d-li {
    display: list-item;
}
.d-tb {
    display: table;
}
.d-tbc {
    display: table-cell;
}
.d-tbcl {
    display: table-column;
}
.d-tbr {
    display: table-row;
}
.d-itb {
    display: inline-table;
}
.d-tbcp {
    display: table-caption;
}
.d-tbclg {
    display: table-column-group;
}
.d-tbhg {
    display: table-header-group;
}
.d-tbfg {
    display: table-footer-group;
}
.d-tbrg {
    display: table-row-group;
}
.v-v {
    visibility: visible;
}
.v-h {
    visibility: hidden;
}
.v-c {
    visibility: collapse;
}
.ov-v {
    overflow: visible;
}
.ovx-v {
    overflow-x: visible;
}
.ovy-v {
    overflow-y: visible;
}
.ov-h {
    overflow: hidden;
}
.ovx-h {
    overflow-x: hidden;
}
.ovy-h {
    overflow-y: hidden;
}
.ov-s {
    overflow: scroll;
}
.ovx-s {
    overflow-x: scroll;
}
.ovy-s {
    overflow-y: scroll;
}
.ov-a {
    overflow: auto;
}
.ovx-a {
    overflow-x: auto;
}
.ovy-a {
    overflow-y: auto;
}
.zoo, .zm {
    zoom: 1;
}
.cp-a {
    clip: auto;
}
.rsz-n {
    resize: none;
}
.rsz-b {
    resize: both;
}
.rsz-h {
    resize: horizontal;
}
.rsz-v {
    resize: vertical;
}
.cur-a {
    cursor: auto;
}
.cur-d {
    cursor: default;
}
.cur-c {
    cursor: crosshair;
}
.cur-he {
    cursor: help;
}
.cur-m {
    cursor: move;
}
.cur-p {
    cursor: pointer;
}
.cur-t {
    cursor: text;
}
/* Margin */

.m-a {
    margin: auto;
}
.mt-a {
    margin-top: auto;
}
.mr-a {
    margin-right: auto;
}
.mb-a {
    margin-bottom: auto;
}
.ml-a {
    margin-left: auto;
}
/* Box Sizing */

.bxz-bb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.bxz-cb {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.w-a {
    width: auto;
}
.h-a {
    height: auto;
}
.maw-n {
    max-width: none;
}
.mah-n {
    max-height: none;
}
.vh {
    height: 100vh;
}
.vw {
    width: 100vw;
}
/* Font */

.fw-n {
    font-weight: normal;
}
.fw-b {
    font-weight: bold;
}
.fw-br {
    font-weight: bolder;
}
.fw-lr {
    font-weight: lighter;
}
.fs-i {
    font-style: italic;
}
.fs-n {
    font-style: normal;
}
.fs-o {
    font-style: oblique;
}
.fv-n {
    font-variant: normal;
}
.fv-sc {
    font-variant: small-caps;
}
.fza-n {
    font-size-adjust: none;
}
.ff-s {
    font-family: serif;
}
.ff-ss {
    font-family: sans-serif;
}
.ff-c {
    font-family: cursive;
}
.ff-f {
    font-family: fantasy;
}
.ff-m {
    font-family: monospace;
}
.ff-a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.ff-t {
    font-family: 'Times New Roman', Times, Baskerville, Georgia, serif;
}
.ff-v {
    font-family: Verdana, Geneva, sans-serif;
}
.fst-n {
    font-stretch: normal;
}
.fst-c {
    font-stretch: condensed;
}
.fst-sc {
    font-stretch: semi-condensed;
}
.fst-ec {
    font-stretch: extra-condensed;
}
.fst-uc {
    font-stretch: ultra-condensed;
}
.fst-e {
    font-stretch: expanded;
}
.fst-se {
    font-stretch: semi-expanded;
}
.fst-ee {
    font-stretch: extra-expanded;
}
.fst-ue {
    font-stretch: ultra-expanded;
}
/* Text */

.va-t {
    vertical-align: top;
}
.va-m {
    vertical-align: middle;
}
.va-b {
    vertical-align: bottom;
}
.va-tt {
    vertical-align: text-top;
}
.va-tb {
    vertical-align: text-bottom;
}
.va-sup {
    vertical-align: super;
}
.va-sub {
    vertical-align: sub;
}
.va-bl {
    vertical-align: baseline;
}
.ta-l {
    text-align: left;
}
.ta-c {
    text-align: center;
}
.ta-r {
    text-align: right;
}
.ta-j {
    text-align: justify;
}
.td-n {
    text-decoration: none;
}
.td-u {
    text-decoration: underline;
}
.td-o {
    text-decoration: overline;
}
.td-l {
    text-decoration: line-through;
}
.te-n {
    -webkit-text-emphasis: none;
    text-emphasis: none;
}
.te-ac {
    -webkit-text-emphasis: accent;
    text-emphasis: accent;
}
.te-dt {
    -webkit-text-emphasis: dot;
    text-emphasis: dot;
}
.te-c {
    -webkit-text-emphasis: circle;
    text-emphasis: circle;
}
.te-ds {
    -webkit-text-emphasis: disc;
    text-emphasis: disc;
}
.te-b {
    -webkit-text-emphasis: before;
    text-emphasis: before;
}
.te-a {
    -webkit-text-emphasis: after;
    text-emphasis: after;
}
.tt-n {
    text-transform: none;
}
.tt-c {
    text-transform: capitalize;
}
.tt-u {
    text-transform: uppercase;
}
.tt-l {
    text-transform: lowercase;
}
.tsh-n {
    text-shadow: none;
}
.lts-n {
    letter-spacing: normal;
}
.no-ls{
    letter-spacing: 0;
}
.whs-n {
    white-space: normal;
}
.whs-p {
    white-space: pre;
}
.whs-nw {
    white-space: nowrap;
}
.whs-pw {
    white-space: pre-wrap;
}
.whs-pl {
    white-space: pre-line;
}
.wob-n {
    word-break: normal;
}
.wob-k {
    word-break: keep-all;
}
.wob-ba {
    word-break: break-all;
}
.wow-nm {
    word-wrap: normal;
}
.wow-b {
    word-wrap: break-word;
}
/* Background */

.bg-n {
    background: none;
}
.bgc-w {
    background-color: #ffffff;
}
.bgc-b {
    background-color: #000000;
}
.bgc-t {
    background-color: transparent;
}
.bgr-n {
    background-repeat: no-repeat;
}
.bgr-x {
    background-repeat: repeat-x;
}
.bgr-y {
    background-repeat: repeat-y;
}
.bga-f {
    background-attachment: fixed;
}
.bga-s {
    background-attachment: scroll;
}
.bgp-tl {
    background-position: top left;
}
.bgp-tc {
    background-position: top center;
}
.bgp-tr {
    background-position: top right;
}
.bgp-cl {
    background-position: center left;
}
.bgp-cc {
    background-position: center center;
}
.bgp-cr {
    background-position: center right;
}
.bgp-bl {
    background-position: bottom left;
}
.bgp-bc {
    background-position: bottom center;
}
.bgp-br {
    background-position: bottom right;
}
.bgsz-a {
    background-size: auto;
}
.bgsz-ct {
    background-size: contain;
}
.bgsz-cv {
    background-size: cover;
}

.ipad .bga-f, .iphone .bga-f {
    background-attachment: scroll;
}
/* Outline */

.ols-n {
    outline-style: none;
}
.ols-dt {
    outline-style: dotted;
}
.ols-ds {
    outline-style: dashed;
}
.ols-s {
    outline-style: solid;
}
.ols-db {
    outline-style: double;
}
.ols-g {
    outline-style: groove;
}
.ols-r {
    outline-style: ridge;
}
.ols-i {
    outline-style: inset;
}
.ols-o {
    outline-style: outset;
}
.olc {
    outline-color: #000000;
}
/* Tables */

.tbl-a {
    table-layout: auto;
}
.tbl-f {
    table-layout: fixed;
}
.cps-t {
    caption-side: top;
}
.cps-b {
    caption-side: bottom;
}
.ec-s {
    empty-cells: show;
}
.ec-h {
    empty-cells: hide;
}
/* Border */

.bd-n {
    border: none;
}
.bdcl-c {
    border-collapse: collapse;
}
.bdcl-s {
    border-collapse: separate;
}
.bdc-t {
    border-color: transparent;
}
.bdi-n {
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
}
.bds-n {
    border-style: none;
}
.bds-h {
    border-style: hidden;
}
.bds-dt {
    border-style: dotted;
}
.bds-ds {
    border-style: dashed;
}
.bds-s {
    border-style: solid;
}
.bds-db {
    border-style: double;
}
.bds-i {
    border-style: inset;
}
.bds-o {
    border-style: outset;
}
.bdt-n {
    border-top: none;
}
.bdts-n {
    border-top-style: none;
}
.bdtc-t {
    border-top-color: transparent;
}
.bdr-n {
    border-right: none;
}
.bdrs-n {
    border-right-style: none;
}
.bdrc-t {
    border-right-color: transparent;
}
.bdb-n {
    border-bottom: none;
}
.bdbs-n {
    border-bottom-style: none;
}
.bdbc-t {
    border-bottom-color: transparent;
}
.bdl-n {
    border-left: none;
}
.bdls-n {
    border-left-style: none;
}
.bdlc-t {
    border-left-color: transparent;
}
.bdrs {
    border-radius: 0;
}
/* Lists */

.lis-n {
    list-style: none;
}
.lisp-i {
    list-style-position: inside;
}
.lisp-o {
    list-style-position: outside;
}
.list-n {
    list-style-type: none;
}
.list-d {
    list-style-type: disc;
}
.list-c {
    list-style-type: circle;
}
.list-s {
    list-style-type: square;
}
.list-dc {
    list-style-type: decimal;
}
.list-dclz {
    list-style-type: decimal-leading-zero;
}
.list-lr {
    list-style-type: lower-roman;
}
.list-ur {
    list-style-type: upper-roman;
}
/* Print */

.pgbb-au {
    page-break-before: auto;
}
.pgbb-al {
    page-break-before: always;
}
.pgbb-l {
    page-break-before: left;
}
.pgbb-r {
    page-break-before: right;
}
.pgbi-au {
    page-break-inside: auto;
}
.pgbi-av {
    page-break-inside: avoid;
}
.pgba-au {
    page-break-after: auto;
}
.pgba-al {
    page-break-after: always;
}
.pgba-l {
    page-break-after: left;
}
.pgba-r {
    page-break-after: right;
}
/* Flex */

.ac-c {
    -ms-flex-line-pack: center;
    align-content: center;
}
.ac-fe {
    -ms-flex-line-pack: end;
    align-content: flex-end;
}
.ac-fs {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.ac-s {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.ac-sa {
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}
.ac-sb {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}
.ai-b {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.ai-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ai-fe {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.ai-fs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.ai-s {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.as-a {
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
}
.as-b {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}
.as-c {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.as-fe {
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.as-fs {
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.as-s {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}
.fxd-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.fxd-cr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.fxd-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.fxd-rr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.fxw-n {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.fxw-w {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.fxw-wr {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}
.jc-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.jc-fe {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.jc-fs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.jc-sa {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.jc-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/* Animation */

.animdir-a {
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.animdir-ar {
    animation-direction: alternate-reverse;
}
.animdir-n {
    -webkit-animation-direction: normal;
    animation-direction: normal;
}
.animdir-r {
    animation-direction: reverse;
}
.animfm {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animfm-b {
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
.bfv-h {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.bfv-v {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/* Others */

.tov-c {
    -o-text-overflow: clip;
    text-overflow: clip;
}
.tov-e {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.tso-cc {
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
.text-hide {
    background-color: transparent;
    border: 0;
    color: transparent;
    font-family: a;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
}
.transition {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.transition-none {
    -webkit-transition: none;
    transition: none;
}
.transform-center {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    z-index: 1;
}
.translateY-50 {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.translateY-100 {
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.translateX-50 {
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.translateX-100 {
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.user-select-none {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* Widths */

.w5 {
    width: 5%;
}
.w10 {
    width: 10%;
}
.w15 {
    width: 15%;
}
.w20 {
    width: 20%;
}
.w25 {
    width: 25%;
}
.w30 {
    width: 30%;
}
.w35 {
    width: 35%;
}
.w40 {
    width: 40%;
}
.w45 {
    width: 45%;
}
.w50 {
    width: 50%;
}
.w55 {
    width: 55%;
}
.w60 {
    width: 60%;
}
.w65 {
    width: 65%;
}
.w70 {
    width: 70%;
}
.w75 {
    width: 75%;
}
.w80 {
    width: 80%;
}
.w85 {
    width: 85%;
}
.w90 {
    width: 90%;
}
.w95 {
    width: 95%;
}
.w100 {
    width: 100%;
}
.maxW100{
    max-width: 100%;
}
/* Margins */

.mar5 {
    margin: 5px;
}
.mar10 {
    margin: 10px;
}
.mar15 {
    margin: 15px;
}
.mar20 {
    margin: 20px;
}
.mar25 {
    margin: 25px;
}
.mar30 {
    margin: 30px;
}
.marT1 {
    margin-top: 1px;
}
.marT2 {
    margin-top: 2px;
}
.marT3 {
    margin-top: 3px;
}
.marT4 {
    margin-top: 4px;
}
.marT5 {
    margin-top: 5px;
}
.marT10 {
    margin-top: 10px;
}
.marT15 {
    margin-top: 15px;
}
.marT20 {
    margin-top: 20px;
}
.marT25 {
    margin-top: 25px;
}
.marT30 {
    margin-top: 30px;
}
.marT35 {
    margin-top: 35px;
}
.marT40 {
    margin-top: 40px;
}
.marT50 {
    margin-top: 50px;
}

.marB0 {
    margin-bottom: 0;
}
.marB5 {
    margin-bottom: 5px;
}
.marB6 {
    margin-bottom: 6px;
}
.marB10 {
    margin-bottom: 10px;
}
.marB15 {
    margin-bottom: 15px;
}
.marB20 {
    margin-bottom: 20px;
}
.marB25 {
    margin-bottom: 25px;
}
.marB30 {
    margin-bottom: 30px;
}
.marB35 {
    margin-bottom: 35px;
}
.marB40 {
    margin-bottom: 40px;
}
.marB50 {
    margin-bottom: 50px;
}
.marB60 {
    margin-bottom: 60px;
}
.marB90 {
    margin-bottom: 90px;
}
.marL1 {
    margin-left: 1px;
}
.marL2 {
    margin-left: 2px;
}
.marL3 {
    margin-left: 3px;
}
.marL4 {
    margin-left: 4px;
}
.marL5 {
    margin-left: 5px;
}
.marL10 {
    margin-left: 10px;
}
.marL15 {
    margin-left: 15px;
}
.marL20 {
    margin-left: 20px;
}
.marL25 {
    margin-left: 25px;
}
.marL30 {
    margin-left: 30px;
}
.marL35 {
    margin-left: 35px;
}
.marL40 {
    margin-left:40px;
}
.marR1 {
    margin-right: 1px;
}
.marR2 {
    margin-right: 2px;
}
.marR3 {
    margin-right: 3px;
}
.marR4 {
    margin-right: 4px;
}
.marR5 {
    margin-right: 5px;
}
.marR10 {
    margin-right: 10px;
}
.marR15 {
    margin-right: 15px;
}
.marR20 {
    margin-right: 20px;
}
.marR25 {
    margin-right: 25px;
}
.marR30 {
    margin-right: 30px;
}
.marTB10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.marTB20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.marTB30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.marTB40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.marTB50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.marTB60 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.noMar {
    margin: 0 !important;
}
.noBMar {
    margin-bottom: 0 !important;
}
.noTMar {
    margin-top: 0 !important;
}
.noLMar {
    margin-left: 0 !important;
}
.noRMar {
    margin-right: 0 !important;
}
/* Paddings */

.pad5 {
    padding: 5px;
}
.pad10 {
    padding: 10px;
}
.pad15 {
    padding: 15px;
}
.pad20 {
    padding: 20px;
}
.pad25 {
    padding: 25px;
}
.pad30 {
    padding: 30px;
}
.pad40 {
    padding: 40px;
}
.padT0 {
    padding-top: 0;
}
.padT1 {
    padding-top: 1px;
}
.padT2 {
    padding-top: 2px;
}
.padT3 {
    padding-top: 3px;
}
.padT4 {
    padding-top: 4px;
}
.padT5 {
    padding-top: 5px;
}
.padT10 {
    padding-top: 10px;
}
.padT15 {
    padding-top: 15px;
}
.padT20 {
    padding-top: 20px;
}
.padT25 {
    padding-top: 25px;
}
.padT30 {
    padding-top: 30px;
}
.padT40 {
    padding-top: 40px;
}
.padT50 {
    padding-top: 50px;
}
.padT60 {
    padding-top: 60px;
}
.padL0 {
    padding-left: 0;
}
.padL1 {
    padding-left: 1px;
}
.padL2 {
    padding-left: 2px;
}
.padL3 {
    padding-left: 3px;
}
.padL5 {
    padding-left: 5px;
}
.padL10 {
    padding-left: 10px;
}
.padL15 {
    padding-left: 15px;
}
.padL20 {
    padding-left: 20px;
}
.padL25 {
    padding-left: 25px;
}
.padL30 {
    padding-left: 30px;
}
.padL40 {
    padding-left: 40px;
}
.padL50 {
    padding-left: 50px;
}
.padR0 {
    padding-right: 0;
}
.padR1 {
    padding-right: 1px;
}
.padR2 {
    padding-right: 2px;
}
.padR3 {
    padding-right: 3px;
}
.padR5 {
    padding-right: 5px;
}
.padR10 {
    padding-right: 10px;
}
.padR15 {
    padding-right: 15px;
}
.padR20 {
    padding-right: 20px;
}
.padR25 {
    padding-right: 25px;
}
.padR30 {
    padding-right: 30px;
}
.padR35 {
    padding-right: 35px;
}
.padR40 {
    padding-right: 40px;
}
.padR50 {
    padding-right: 50px;
}
.padB5 {
    padding-bottom: 5px;
}
.padB10 {
    padding-bottom: 10px;
}
.padB15 {
    padding-bottom: 15px;
}
.padB20 {
    padding-bottom: 20px;
}
.padB25 {
    padding-bottom: 25px;
}
.padB30 {
    padding-bottom: 30px;
}
.padB35 {
    padding-bottom: 35px;
}
.padB40 {
    padding-bottom: 40px;
}
.padB50 {
    padding-bottom: 50px;
}
.padTB5 {
    padding-bottom: 5px;
    padding-top: 5px;
}
.padTB10 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.padTB20 {
    padding-bottom: 20px;
    padding-top: 20px;
}
.padTB30 {
    padding-bottom: 30px;
    padding-top: 30px;
}
.padTB40 {
    padding-bottom: 40px;
    padding-top: 40px;
}
.padTB50 {
    padding-bottom: 50px;
    padding-top: 50px;
}
.padTB60 {
    padding-bottom: 60px;
    padding-top: 60px;
}
.noTPad {
    padding-top: 0 !important;
}
.noBPad {
    padding-bottom: 0 !important;
}
.noLPad {
    padding-left: 0 !important;
}
.noRPad {
    padding-right: 0 !important;
}
.noPad {
    padding: 0 !important;
}
.mobile-only{
    display: none;
    @media @max-screen-767 {
        display: block;
    }
}

.desktop-only{
    display: block;
    @media @max-screen-767 {
        display: none;
    }
}