@import '_variables.less';
@import '_classes.less';

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    background: @background;
    color: @black2;
    width: 100%;
    min-height: 100%;
}

body {
    .ff-Montserrat-Regular;
}

::-moz-selection {
    color: @white;
    background: rgba(40,36,37,0.5);
}

::selection {
    color: @white;
    background: rgba(40,36,37,0.5);
}

strong,
b {
    .ff-Montserrat-SemiBold;
}

em,
i {
    .ff-Montserrat-Italic;
}

video,
iframe {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

table {
    display: table;
    width: 100%;
    table-layout: fixed;
    td,
    th {
        padding: 6px 10px;
    }
}