@import '_variables.less';
@import '_classes.less';

.IE11{
    .page-header .logo{
        .logo-img{
            width: 143px;
            height: 70px;
        }
    }

    .intro-section{
        padding:0;

        .product-circle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .story-details, .welcome-section, .product-section{
        display: block;
    }

    ul.product-list, ul.product-list li, ul.product-list li a{
        display: block;
    }

    .product-list .img-box{
        margin-top: 35px;
        padding-bottom: 10px;
    }

    .footer #ftrlogo img{
        width: 174px;
        height: 85px;
    }
}