@import 'lib/fancybox.less';
@import 'lib/flickity.less';
@import 'lib/mCustomScrollbar.less';
@import 'lib/selectric.less';
@import 'lib/slick.less';
@import 'forms/_forms.less';
@import 'header/_header.less';
@import 'footer/_footer.less';
@import 'home/_home.less';
@import 'common/_common.less';
@import 'product/_product.less';
@import 'pages/_pages.less';

@import '_ie.less';

.main {
    padding-top: 100px;
    padding-bottom: 50px;
    min-height: 100vh;
    @media @max-screen-1450{
        padding-top: 80px;
    }
    @media @max-screen-767{
        padding-top: 60px;
        padding-bottom: 40px;
        min-height: 10vh;
    }
}

.launch-section{
    & + .footer-page{
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .launch-logo{
        margin-top: -100px;
        @media @max-screen-980{
            margin-top: -80px;
        }
        img{
            max-width: 210px;
        }
    }
    @media @max-screen-980{
        height: auto;
        .w50 {
            width: 100%;
            height: auto;
            min-height: 50vh;
        }
        .caption {
            padding: 50px 0;
        }
        .figure {
            img{
                height: 50vh;
            }
        }
    }
}
.simply-section{
    margin-left: 30px;
    @media @max-screen-767{
        margin-left: 10px;
    }

    &:first-child{
        margin-left: 0;
    }
    & > div{
        display: flex;
        align-items: center;

    }
}
.simply-amount{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: #EDEEEE;
    border-radius: 50%;
    margin-right: 10px;
    @media @max-screen-767{
        font-size: 16px;
        height: 36px;
        width: 36px;
        margin-right: 5px;
    }

}
.simply-word{
    font-size: 10px;
    display: flex;
    @media @max-screen-360{
        font-size: 9px;
    }
}

.site-wrapper {
    opacity: 0;
    pointer-events: none;
}

.site-loaded {
    .site-wrapper {
        pointer-events: auto;
    }
}

.gdpr_lightbox {
    z-index: 99990 !important;
}

@media @max-screen-767{
    #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content {
        padding-top: 10px !important;
    }
}


.spinner {
    margin: 30px auto 0;
    width: 100px;
    text-align: center;
    &>div {
        width: 10px;
        height: 10px;
        margin: 0 6px;
        background-color: #F37A33; 
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .bounce1 {
        -webkit-animation-delay: -0.48s;
        animation-delay: -0.48s;
        margin-left: 16px;
    }
    .bounce2 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .bounce3 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}


.full-page-loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: @white;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 99999;
    pointer-events: none;
    &:before {
        content: "";
        background: #000000;
        position: absolute;
        width: 0;
        left: 0;
        height: 100%;
        top: 0;
    }
    &:after {
        content: "";
        background: @white;
        position: absolute;
        width: 0;
        left: 0;
        height: 100%;
        top: 0;
        z-index: -1;
    }
    .wrapper {
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        .transition;
        z-index: 9;
        opacity: 0;
    }
    .spinner {
        margin: 10px auto;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        .transition;
        &>div {
            background-color: #000000;
        }
    }
    img {
        margin: 0 auto;
        max-width: 200px;
        display: none;
        @media @max-screen-767 {
            max-width: 150px;
        }
    }
    &.anim {
        .wrapper {
            opacity: 1;
            -webkit-transition: all 0.75s ease;
            -ms-transition: all 0.75s ease;
            transition: all 0.75s ease;
        }
        &:after {
            -webkit-animation-name: fullpage-anim;
            animation-name: fullpage-anim;
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
            animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
        }
    }
    &.end {
        .wrapper {
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }
        .spinner {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }
    }
}

@-webkit-keyframes fullpage-anim {
    0%{ 
        width: 0;
        left: 0;
    }
    100% { 
        width: 100%;
    }
}

@keyframes fullpage-anim {
    0%{ 
        width: 0;
        left: 0;
    }
    100% { 
        width: 100%;
    }
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0.5);
        opacity: .5; 
    }
    40% { 
        -webkit-transform: scale(1.0); 
        opacity: 1; 
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: .5;
    } 40% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}

#moove_gdpr_save_popup_settings_button {
    width: auto;
}