@import '_variables.less';
@import '_classes.less'; 
html {
    font-size: 16px;
    //overflow-y: scroll;
}

/* Headings */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    position: relative;
    color: @black;
    margin: 0 0 20px;
    letter-spacing: 0.2px;
    .ff-Montserrat-Medium;
    @media @max-screen-1450{
        margin: 0 0 15px;
    }
    &:empty,  &:last-child {
        margin-bottom: 0;
    }
    &.ff-Montserrat-Regular{
        .ff-Montserrat-Regular;
    }
    &.ff-Montserrat-Bold{
        .ff-Montserrat-Bold;
    }
    &.c-black-2{
        color: @black;
    }
}

h1, .h1, .fs1 {
    font-size: 40px;
    line-height: 46px;
    @media @max-screen-1650{
        font-size: 36px;
        line-height: 42px;
    }
    @media @max-screen-1450{
        font-size: 32px;
        line-height: 38px;
    }
    @media @max-screen-1199{
        font-size: 28px;
        line-height: 34px;
    }
    @media @max-screen-980{
        font-size: 24px;
        line-height: 30px;
    }
    @media @max-screen-767{
        font-size: 22px;
        line-height: 28px;
    }
}

h2, .h2, .fs2 {
    font-size: 32px;
    line-height: 38px;
    @media @max-screen-1650{
        font-size: 28px;
        line-height: 36px;
    }
    @media @max-screen-1450{
        font-size: 26px;
        line-height: 32px;
    }
    @media @max-screen-1199{
        font-size: 24px;
        line-height: 30px;
    }
    @media @max-screen-980{
        font-size: 22px;
        line-height: 26px;
    }
    @media @max-screen-767{
        font-size: 20px;
        line-height: 26px;
    }
}

h3, .h3, .fs3 {
    font-size: 28px;
    line-height: 34px;
    @media @max-screen-1650{
        font-size: 24px;
        line-height: 30px;
    }
    @media @max-screen-1450{
        font-size: 22px;
        line-height: 28px;
    }
    @media @max-screen-1199{
        font-size: 20px;
        line-height: 26px;
    }
    @media @max-screen-767{
        font-size: 18px;
        line-height: 24px;
    }
}

h4, .h4, .fs4 {
    font-size: 24px;
    line-height: 30px;
    @media @max-screen-1650{
        font-size: 22px;
        line-height: 28px;
    }
    @media @max-screen-1450{
        font-size: 20px;
        line-height: 26px;
    }
    @media @max-screen-1199{
        font-size: 18px;
        line-height: 24px;
    }
    @media @max-screen-767{
        font-size: 17px;
        line-height: 22px;
    }
}

h5, .h5, .fs5 {
    font-size: 20px;
    line-height: 24px;
    @media @max-screen-1650{
        font-size: 18px;
        line-height: 24px;
    }
    @media @max-screen-1450{
        font-size: 17px;
        line-height: 22px;
    }
    @media @max-screen-767{
        font-size: 16px;
        line-height: 22px;
    }
}

h6, .h6, .fs6 {
    font-size: 18px;
    line-height: 24px;
    @media @max-screen-1650{
        font-size: 16px;
        line-height: 22px;
    }
    @media @max-screen-767{
        font-size: 14px;
        line-height: 22px;
    }
}

.fs-12{
    font-size: 12px;
}

body {
    font-size: 16px;
    line-height: 24px;
    @media @max-screen-1450{
        font-size: 14px;
        line-height: 22px;
    }
    @media @max-screen-767{
        font-size: 12px;
        line-height: 20px;
    }
}

p, .p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    @media @max-screen-1450{
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    @media @max-screen-767{
        font-size: 12px;
        line-height: 20px;
    }
    &:empty,  &:last-child {
        margin-bottom: 0;
    }
    + h5{
        padding-top: 20px;
    }
}
