/* Global Variables */
@white:                 rgba(255,255,255,1);    // #000000
@black:                 rgba(0,0,0,1);          // #FFFFFF
@black2:                rgba(49,52,52,1);       // #313434
@background:            rgba(247,248,248,1);    // #F7F8F8
@gray1:                 rgba(203,203,203,1);    // #CBCBCB
@gray2:                 rgba(179,179,179,1);    // #B3B3B3


@image-path:        '../images/';
// Shopify
//@image-path: '';

// width:~"calc(100% / 2 - 8.5%)";
// background: url("@{image-path}img.png") no-repeat 0 0;

/* Media Screen */
@max-screen-1650:   ~'only screen and (max-width: 1650px)';
@max-screen-1450:   ~'only screen and (max-width: 1450px)';
@max-screen-1279:   ~'only screen and (max-width: 1279px)';
@max-screen-1199:   ~'only screen and (max-width: 1199px)';
@max-screen-980:    ~'only screen and (max-width: 980px)';
@max-screen-767:    ~'only screen and (max-width: 767px)';
@max-screen-650:    ~'only screen and (max-width: 650px)';
@max-screen-480:    ~'only screen and (max-width: 480px)';
@max-screen-360:    ~'only screen and (max-width: 360px)';
@min-screen-1200:    ~'only screen and (min-width: 1200px)';
@min-screen-981:    ~'only screen and (min-width: 981px)';

/* Color */

.c-white {
    color: @white;
}
.c-black {
    color: @black;
}
.c-black-2 {
    color: @black2;
}
.c-background {
    color: @background;
}
.c-gray-1 {
    color: @gray1;
}
.c-gray-2 {
    color: @gray2;
}

/* Background */

.bg-white {
    background-color: @white;
}
.bg-black {
    background-color: @black;
}
.bg-black-2 {
    background-color: @black2;
}
.bg-background {
    background-color: @background;
}
.bg-gray-1 {
    background-color: @gray1;
}
.bg-gray-2 {
    background-color: @gray2;
}

/* Font Family */

.ff-normal {
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}
.ff-Montserrat-Bold,
.ff-Montserrat-Italic, 
.ff-Montserrat-Light,
.ff-Montserrat-LightItalic,
.ff-Montserrat-Medium,
.ff-Montserrat-Regular,
.ff-Montserrat-SemiBold {
    &:extend(.ff-normal all);
}

.ff-Montserrat-Bold{
    font-family: 'Montserrat-Bold', sans-serif;
}
.ff-Montserrat-Italic {
    font-family: 'Montserrat-Italic', sans-serif;
}
.ff-Montserrat-Light {
    font-family: 'Montserrat-Light', sans-serif;
}
.ff-Montserrat-LightItalic {
    font-family: 'Montserrat-LightItalic', sans-serif;
}
.ff-Montserrat-Medium{
    font-family: 'Montserrat-Medium', sans-serif;
}
.ff-Montserrat-Regular {
    font-family: 'Montserrat-Regular', sans-serif;
}
.ff-Montserrat-SemiBold {
    font-family: 'Montserrat-SemiBold', sans-serif;
}

/* Site Wrappers */

.full-wrapper {
    max-width: 100%;
}

.wrapper {
    max-width: 1750px;
}

.inner-wrapper {
    max-width: 1260px;
}

.small-wrapper {
    max-width: 1040px;
}

.small-wrapper-xs{
    max-width: 840px;
}


.ie10 .page-wrapper,
.ie11 .page-wrapper {
    height: auto;
}

.clearfix {
    &:before {
        content: '';
        display: table;
        clear: both;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.full-wrapper,
.wrapper,
.inner-wrapper,
.small-wrapper,
.small-wrapper-xs {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    &:extend(.clearfix all);
    @media @max-screen-1450{
        padding: 0 25px;
    }
    @media @max-screen-1199{
        padding: 0 20px;
    }
    &.no-gap{
        padding: 0;
    }
}

.full-wrapper{
    padding: 0 100px;
    @media @max-screen-1650{
        padding: 0 90px;
    }
    @media @max-screen-1450{
        padding: 0 80px;
    }
    @media @max-screen-1199{
        padding: 0 60px;
    }
    @media @max-screen-980{
        padding: 0 40px;
    }
    @media @max-screen-767{
        padding: 0 20px;
        .inner-wrapper{
            padding: 0;
        }
    }
}


.jugaad {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


